In [54]:
# Import all the packages

import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import requests
import json

In [55]:
# Display the data frame

df_by_county = pd.read_csv("statewide_cases.csv")
df_by_county

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,2020-03-18
1,Santa Clara,183.0,8.0,32,2,2020-03-19
2,Santa Clara,246.0,8.0,63,0,2020-03-20
3,Santa Clara,269.0,10.0,23,2,2020-03-21
4,Santa Clara,284.0,13.0,15,3,2020-03-22
...,...,...,...,...,...,...
14400,Yolo,3522.0,63.0,30,0,2020-11-09
14401,Yolo,3573.0,64.0,51,1,2020-11-10
14402,Yolo,3606.0,64.0,33,0,2020-11-11
14403,Yolo,3646.0,64.0,40,0,2020-11-12
14404,Yolo,3716.0,66.0,70,2,2020-11-13

In [128]:
# Group by on the county name and use .max to show just the totals
# The "newcountconfirmed" column shows the highest single day cases that the county has experienced

df_county = df_by_county.groupby(["county"]).max()
df_county = df_county[["totalcountconfirmed","totalcountdeaths","newcountconfirmed"]]
df_county

                 totalcountconfirmed  totalcountdeaths  newcountconfirmed
county
Alameda                      25515.0             486.0                540
Alpine                          12.0               0.0                  3
Amador                         397.0              16.0                 29
Butte                         3402.0              56.0                122
Calaveras                      378.0              21.0                 43
Colusa                         598.0               6.0                 36
Contra Costa                 20799.0             253.0                558
Del Norte                      208.0               1.0                 21
El Dorado                     1611.0               4.0                 40
Fresno                       33693.0             460.0                743
Glenn                          755.0               6.0                 28
Humboldt                       638.0              10.0                 19
Imperial                     13790.0             348.0                484
Inyo                           262.0              16.0                 21
Kern                         35431.0             432.0               1633
Kings                         9428.0              87.0                336
Lake                           770.0              18.0                 27
Lassen                         832.0               1.0                 83
Los Angeles                 329364.0            7246.0               4493
Madera                        5340.0              76.0                308
Marin                         7307.0             129.0                491
Mariposa                        86.0               2.0                  7
Mendocino                     1173.0              22.0                 81
Merced                       10185.0             169.0                521
Modoc                           63.0               0.0                 11
Mono                           448.0               2.0                 91
Monterey                     12681.0             107.0                354
Napa                          2440.0              17.0                 59
Nevada                         798.0               9.0                 39
Orange                       63804.0            1522.0               1834
Out Of Country                   0.0               0.0                  0
Placer                        5122.0              63.0                118
Plumas                         125.0               0.0                 11
Riverside                    74138.0            1367.0               1402
Sacramento                   29787.0             517.0                758
San Benito                    1553.0              15.0                 56
San Bernardino               71895.0            1097.0               1497
San Diego                    62978.0             921.0                661
San Francisco                13516.0             153.0                416
San Joaquin                  23314.0             501.0                689
San Luis Obispo               4960.0              33.0                139
San Mateo                    12182.0             168.0                205
Santa Barbara                10405.0             131.0                334
Santa Clara                  27609.0             444.0                737
Santa Cruz                    3343.0              26.0                113
Shasta                        2983.0              36.0                158
Sierra                          11.0               0.0                  3
Siskiyou                       280.0               1.0                 14
Solano                        8525.0              79.0                221
Sonoma                       10685.0             149.0                195
Stanislaus                   18936.0             411.0                737
Sutter                        2121.0              12.0                 99
Tehama                        1167.0              19.0                 50
Trinity                         64.0               0.0                 16
Tulare                       18714.0             300.0                642
Tuolumne                       427.0               8.0                 74
Unassigned                      69.0               2.0                 38
Ventura                      16172.0             172.0                298
Yolo                          3716.0              66.0                 75
Yuba                          1435.0              10.0                 85

In [95]:
# Drop the rows that say 'Unassigned' and 'Out of country'

county_df = df_county.drop(["Out Of Country", "Unassigned"])
county_df.head()

           totalcountconfirmed  totalcountdeaths  newcountconfirmed
county
Alameda                25515.0             486.0                540
Alpine                    12.0               0.0                  3
Amador                   397.0              16.0                 29
Butte                   3402.0              56.0                122
Calaveras                378.0              21.0                 43

In [94]:
# Use the describe to show initial data of the data frame

county_df.describe()

       totalcountconfirmed  totalcountdeaths  newcountconfirmed
count            58.000000         58.000000          58.000000
mean          17385.706897        314.155172         394.103448
std           45433.948786        982.527707         691.969391
min              11.000000          0.000000           3.000000
25%             667.250000          9.250000          39.250000
50%            3559.000000         46.000000         120.000000
75%           15576.500000        232.750000         513.500000
max          329364.000000       7246.000000        4493.000000

In [126]:
# Create a data frame that shows the total number of cases for each county in the first seven days
# Again drop the rows that say unassigned and out of country

first_seven_df = df_by_county.loc[(df_by_county["date"] == "2020-03-18") | (df_by_county["date"] == "2020-03-19") | (df_by_county["date"] == "2020-03-20") | (df_by_county["date"] == "2020-03-21") | (df_by_county["date"] == "2020-03-22") | (df_by_county["date"] == "2020-03-23") | (df_by_county["date"] == "2020-03-24")]
first_seven_df = first_seven_df.groupby(["county"]).sum()
first_seven_df = first_seven_df[["newcountconfirmed"]]
first_seven_df = first_seven_df.rename(columns={"newcountconfirmed":"Total cases over first 7 days"})
first_seven = first_seven_df.drop(["Unassigned"])
first_seven.head()

           Total cases over first 7 days
county
Alameda                               96
Amador                                 1
Butte                                  3
Calaveras                              2
Colusa                                 0

In [127]:
# Create a data frame that shows the total number of cases for each county in the last seven days
# Again drop the rows that say unassigned and out of country

last_seven_df = df_by_county.loc[(df_by_county["date"] == "2020-11-07") | (df_by_county["date"] == "2020-11-08") | (df_by_county["date"] == "2020-11-09") | (df_by_county["date"] == "2020-11-10") | (df_by_county["date"] == "2020-11-11") | (df_by_county["date"] == "2020-11-12") | (df_by_county["date"] == "2020-11-13")]
last_seven_df = last_seven_df.groupby(["county"]).sum()
last_seven_df = last_seven_df[["newcountconfirmed"]]
last_seven_df = last_seven_df.rename(columns={"newcountconfirmed":"Total cases over last 7 days"})
last_seven = last_seven_df.drop(["Out Of Country", "Unassigned"])
last_seven.head()

           Total cases over last 7 days
county
Alameda                            1126
Alpine                                6
Amador                               28
Butte                               148
Calaveras                            19

In [123]:
# Merge the two previous tables together on the index 'county' to show the differences in first 7 days and last 7 days

merge_seven_days = pd.merge(first_seven, last_seven, left_index=True, right_index=True)
merge_seven_days

                 Total cases over first 7 days  Total cases over last 7 days
county
Alameda                                     96                          1126
Amador                                       1                            28
Butte                                        3                           148
Calaveras                                    2                            19
Colusa                                       0                            18
Contra Costa                               108                          1055
Del Norte                                    0                            14
El Dorado                                    3                           136
Fresno                                      18                          1415
Glenn                                        0                            48
Humboldt                                     2                            51
Imperial                                     3                           560
Inyo                                         0                            16
Kern                                         5                          1071
Kings                                        0                           545
Lake                                         0                            29
Lassen                                       0                            38
Los Angeles                                633                         15008
Madera                                       6                           204
Marin                                       44                           123
Mariposa                                     0                             7
Mendocino                                    1                            60
Merced                                       0                           407
Mono                                         1                           140
Monterey                                    23                           767
Napa                                         2                           251
Nevada                                       4                           106
Orange                                     166                          2755
Placer                                      22                           442
Plumas                                       1                            35
Riverside                                   56                          3729
Sacramento                                  92                          2298
San Benito                                   4                            74
San Bernardino                              27                          5155
San Diego                                  229                          3835
San Francisco                              181                           691
San Joaquin                                 52                           890
San Luis Obispo                             32                           429
San Mateo                                  100                           595
Santa Barbara                               20                           287
Santa Clara                                389                          1778
Santa Cruz                                  22                           280
Shasta                                       3                           508
Sierra                                       0                             4
Siskiyou                                     2                            43
Solano                                      13                           566
Sonoma                                      27                           543
Stanislaus                                  13                           686
Sutter                                       0                           184
Tehama                                       0                           143
Trinity                                      0                            23
Tulare                                      10                           578
Tuolumne                                     0                           111
Ventura                                     44                           950
Yolo                                         8                           296
Yuba                                         2                           100

In [78]:
# Create a line plot to show the total confirmed cases

x_values = np.arange(len(county_df["totalcountconfirmed"]))
y_values = county_df["totalcountconfirmed"]
plt.plot(x_values, y_values)
plt.show()

In [73]:
# Create a line plot to show the total confirmed deaths

x_values = np.arange(len(county_df["totalcountdeaths"]))
y_values = county_df["totalcountdeaths"]
plt.plot(x_values, y_values)
plt.show()

In [74]:
# Create a line plot to show the new counts

x_values = np.arange(len(county_df["newcountconfirmed"]))
y_values = county_df["newcountconfirmed"]
plt.plot(x_values, y_values)
plt.show()

In [79]:
# Create a bar chart to show the total confirmed cases

x_axis = np.arange(len(county_df["totalcountconfirmed"]))
y_axis = county_df["totalcountconfirmed"]
plt.bar(x_axis, y_axis)
plt.show()

In [80]:
# Create a bar chart to show the total confirmed deaths

x_axis = np.arange(len(county_df["totalcountdeaths"]))
y_axis = county_df["totalcountdeaths"]
plt.bar(x_axis, y_axis)
plt.show()

In [81]:
# Create a bar chart to show the new confirmed cases

x_axis = np.arange(len(county_df["newcountconfirmed"]))
y_axis = county_df["newcountconfirmed"]
plt.bar(x_axis, y_axis)
plt.show()

In [90]:
# Create a pie chart to show the total confirmed cases

#labels = [county_df["county"]]
sizes = [county_df["totalcountconfirmed"]]
plt.pie(sizes, autopct="%1.1f%%", shadow=True, startangle=140)
plt.show()

In [93]:
# Create a pie chart to show the total confirmed deaths

#labels = [county_df["county"]]
sizes = [county_df["totalcountdeaths"]]
plt.pie(sizes, autopct="%1.1f%%", shadow=True, startangle=140)
plt.show()

In [92]:
# Create a pie chart to show the total confirmed cases

#labels = [county_df["county"]]
sizes = [county_df["newcountconfirmed"]]
plt.pie(sizes, autopct="%1.1f%%", shadow=True, startangle=140)
plt.show()

In [131]:
# Create a line plot to show the differences between the first seven days and the last seven days

x_axis = np.arange(
first_axis = [merge_seven_days["Total cases over first 7 days"]]
last_axis = [merge_seven_days["Total cases over last 7 days"]]
plt.plot(x_axis, first_axis, color="red")
plt.plot(x_axis, last_axis, color="blue")
plt.show()

ValueError: x and y must have same first dimension, but have shapes (56,) and (1, 56)