In [54]:
# Import all the packages

import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import requests
import json

In [55]:
# Display the data frame

df_by_county = pd.read_csv("statewide_cases.csv")
df_by_county
#df_by_county["date"].value_counts()

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,2020-03-18
1,Santa Clara,183.0,8.0,32,2,2020-03-19
2,Santa Clara,246.0,8.0,63,0,2020-03-20
3,Santa Clara,269.0,10.0,23,2,2020-03-21
4,Santa Clara,284.0,13.0,15,3,2020-03-22
...,...,...,...,...,...,...
14400,Yolo,3522.0,63.0,30,0,2020-11-09
14401,Yolo,3573.0,64.0,51,1,2020-11-10
14402,Yolo,3606.0,64.0,33,0,2020-11-11
14403,Yolo,3646.0,64.0,40,0,2020-11-12
14404,Yolo,3716.0,66.0,70,2,2020-11-13

In [56]:
# Group by on the county name and use .max to show just the totals

df_county = df_by_county.groupby(["county"]).max()
df_county = df_county[["totalcountconfirmed","totalcountdeaths","newcountconfirmed"]]
df_county

                 totalcountconfirmed  totalcountdeaths  newcountconfirmed
county
Alameda                      25515.0             486.0                540
Alpine                          12.0               0.0                  3
Amador                         397.0              16.0                 29
Butte                         3402.0              56.0                122
Calaveras                      378.0              21.0                 43
Colusa                         598.0               6.0                 36
Contra Costa                 20799.0             253.0                558
Del Norte                      208.0               1.0                 21
El Dorado                     1611.0               4.0                 40
Fresno                       33693.0             460.0                743
Glenn                          755.0               6.0                 28
Humboldt                       638.0              10.0                 19
Imperial                     13790.0             348.0                484
Inyo                           262.0              16.0                 21
Kern                         35431.0             432.0               1633
Kings                         9428.0              87.0                336
Lake                           770.0              18.0                 27
Lassen                         832.0               1.0                 83
Los Angeles                 329364.0            7246.0               4493
Madera                        5340.0              76.0                308
Marin                         7307.0             129.0                491
Mariposa                        86.0               2.0                  7
Mendocino                     1173.0              22.0                 81
Merced                       10185.0             169.0                521
Modoc                           63.0               0.0                 11
Mono                           448.0               2.0                 91
Monterey                     12681.0             107.0                354
Napa                          2440.0              17.0                 59
Nevada                         798.0               9.0                 39
Orange                       63804.0            1522.0               1834
Out Of Country                   0.0               0.0                  0
Placer                        5122.0              63.0                118
Plumas                         125.0               0.0                 11
Riverside                    74138.0            1367.0               1402
Sacramento                   29787.0             517.0                758
San Benito                    1553.0              15.0                 56
San Bernardino               71895.0            1097.0               1497
San Diego                    62978.0             921.0                661
San Francisco                13516.0             153.0                416
San Joaquin                  23314.0             501.0                689
San Luis Obispo               4960.0              33.0                139
San Mateo                    12182.0             168.0                205
Santa Barbara                10405.0             131.0                334
Santa Clara                  27609.0             444.0                737
Santa Cruz                    3343.0              26.0                113
Shasta                        2983.0              36.0                158
Sierra                          11.0               0.0                  3
Siskiyou                       280.0               1.0                 14
Solano                        8525.0              79.0                221
Sonoma                       10685.0             149.0                195
Stanislaus                   18936.0             411.0                737
Sutter                        2121.0              12.0                 99
Tehama                        1167.0              19.0                 50
Trinity                         64.0               0.0                 16
Tulare                       18714.0             300.0                642
Tuolumne                       427.0               8.0                 74
Unassigned                      69.0               2.0                 38
Ventura                      16172.0             172.0                298
Yolo                          3716.0              66.0                 75
Yuba                          1435.0              10.0                 85

In [57]:
# Drop the rows that say 'Unassigned' and 'Out of country'

county_df = df_county.drop(["Out Of Country", "Unassigned"])
county_df

                 totalcountconfirmed  totalcountdeaths  newcountconfirmed
county
Alameda                      25515.0             486.0                540
Alpine                          12.0               0.0                  3
Amador                         397.0              16.0                 29
Butte                         3402.0              56.0                122
Calaveras                      378.0              21.0                 43
Colusa                         598.0               6.0                 36
Contra Costa                 20799.0             253.0                558
Del Norte                      208.0               1.0                 21
El Dorado                     1611.0               4.0                 40
Fresno                       33693.0             460.0                743
Glenn                          755.0               6.0                 28
Humboldt                       638.0              10.0                 19
Imperial                     13790.0             348.0                484
Inyo                           262.0              16.0                 21
Kern                         35431.0             432.0               1633
Kings                         9428.0              87.0                336
Lake                           770.0              18.0                 27
Lassen                         832.0               1.0                 83
Los Angeles                 329364.0            7246.0               4493
Madera                        5340.0              76.0                308
Marin                         7307.0             129.0                491
Mariposa                        86.0               2.0                  7
Mendocino                     1173.0              22.0                 81
Merced                       10185.0             169.0                521
Modoc                           63.0               0.0                 11
Mono                           448.0               2.0                 91
Monterey                     12681.0             107.0                354
Napa                          2440.0              17.0                 59
Nevada                         798.0               9.0                 39
Orange                       63804.0            1522.0               1834
Placer                        5122.0              63.0                118
Plumas                         125.0               0.0                 11
Riverside                    74138.0            1367.0               1402
Sacramento                   29787.0             517.0                758
San Benito                    1553.0              15.0                 56
San Bernardino               71895.0            1097.0               1497
San Diego                    62978.0             921.0                661
San Francisco                13516.0             153.0                416
San Joaquin                  23314.0             501.0                689
San Luis Obispo               4960.0              33.0                139
San Mateo                    12182.0             168.0                205
Santa Barbara                10405.0             131.0                334
Santa Clara                  27609.0             444.0                737
Santa Cruz                    3343.0              26.0                113
Shasta                        2983.0              36.0                158
Sierra                          11.0               0.0                  3
Siskiyou                       280.0               1.0                 14
Solano                        8525.0              79.0                221
Sonoma                       10685.0             149.0                195
Stanislaus                   18936.0             411.0                737
Sutter                        2121.0              12.0                 99
Tehama                        1167.0              19.0                 50
Trinity                         64.0               0.0                 16
Tulare                       18714.0             300.0                642
Tuolumne                       427.0               8.0                 74
Ventura                      16172.0             172.0                298
Yolo                          3716.0              66.0                 75
Yuba                          1435.0              10.0                 85

In [78]:
# Create a line plot to show the total confirmed cases

x_values = np.arange(len(county_df["totalcountconfirmed"]))
y_values = county_df["totalcountconfirmed"]
plt.plot(x_values, y_values)
plt.show()

In [73]:
# Create a line plot to show the total confirmed deaths

x_values = np.arange(len(county_df["totalcountdeaths"]))
y_values = county_df["totalcountdeaths"]
plt.plot(x_values, y_values)
plt.show()

In [74]:
# Create a line plot to show the new counts

x_values = np.arange(len(county_df["newcountconfirmed"]))
y_values = county_df["newcountconfirmed"]
plt.plot(x_values, y_values)
plt.show()

In [79]:
# Create a bar chart to show the total confirmed cases

x_axis = np.arange(len(county_df["totalcountconfirmed"]))
y_axis = county_df["totalcountconfirmed"]
plt.bar(x_axis, y_axis)
plt.show()

In [80]:
# Create a bar chart to show the total confirmed deaths

x_axis = np.arange(len(county_df["totalcountdeaths"]))
y_axis = county_df["totalcountdeaths"]
plt.bar(x_axis, y_axis)
plt.show()

In [81]:
# Create a bar chart to show the new confirmed cases

x_axis = np.arange(len(county_df["newcountconfirmed"]))
y_axis = county_df["newcountconfirmed"]
plt.bar(x_axis, y_axis)
plt.show()

In [90]:
# Create a pie chart to show the total confirmed cases

#labels = [county_df["county"]]
sizes = [county_df["totalcountconfirmed"]]
plt.pie(sizes, autopct="%1.1f%%", shadow=True, startangle=140)
plt.show()

In [93]:
# Create a pie chart to show the total confirmed deaths

#labels = [county_df["county"]]
sizes = [county_df["totalcountdeaths"]]
plt.pie(sizes, autopct="%1.1f%%", shadow=True, startangle=140)
plt.show()

In [92]:
# Create a pie chart to show the total confirmed cases

#labels = [county_df["county"]]
sizes = [county_df["newcountconfirmed"]]
plt.pie(sizes, autopct="%1.1f%%", shadow=True, startangle=140)
plt.show()