In [1]:
# Import all the packages
import pandas as pd
import matplotlib as plt
import scipy as sts
import numpy as np
import requests
import json
np.random.seed(0)

In [2]:
df_by_county = pd.read_csv("statewide_cases.csv")
df_by_county

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,3/18/2020
1,Santa Clara,183.0,8.0,32,2,3/19/2020
2,Santa Clara,246.0,8.0,63,0,3/20/2020
3,Santa Clara,269.0,10.0,23,2,3/21/2020
4,Santa Clara,284.0,13.0,15,3,3/22/2020
...,...,...,...,...,...,...
14460,Yolo,3573.0,64.0,51,1,11/10/2020
14461,Yolo,3606.0,64.0,33,0,11/11/2020
14462,Yolo,3646.0,64.0,40,0,11/12/2020
14463,Yolo,3716.0,66.0,70,2,11/13/2020
14464,Yolo,3765.0,66.0,49,0,11/14/2020

In [3]:
df_by_county_unique=df_by_county["county"].nunique()
df_by_county_unique

60

In [4]:
df_by_county.sample(60)

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
12991,San Bernardino,61351.0,1072.0,497,2,10/24/2020
2873,Orange,56091.0,1401.0,139,10,10/16/2020
13777,Amador,8.0,0.0,0,0,4/25/2020
4265,Santa Cruz,1746.0,7.0,-1,0,8/29/2020
12929,San Bernardino,45010.0,691.0,207,0,8/23/2020
6973,Lassen,752.0,1.0,0,0,10/14/2020
11892,Riverside,11376.0,384.0,158,1,6/15/2020
6022,Mariposa,79.0,2.0,1,0,10/31/2020
488,Santa Barbara,16.0,0.0,8,0,3/22/2020
5976,Mariposa,74.0,2.0,0,0,9/15/2020
4480,Mendocino,247.0,9.0,4,0,8/2/2020
10817,Los Angeles,300726.0,7040.0,1288,13,10/28/2020
1569,San Luis Obispo,1060.0,5.0,71,0,7/14/2020
1256,Placer,162.0,8.0,1,0,5/4/2020
8602,Marin,5929.0,94.0,42,-1,8/27/2020
643,Santa Barbara,7784.0,88.0,59,1,8/24/2020
3601,Alpine,4.0,0.0,0,0,10/30/2020
11045,Sacramento,24013.0,462.0,83,4,10/14/2020
8081,San Benito,444.0,2.0,11,0,7/21/2020
7976,San Benito,26.0,2.0,1,1,4/7/2020
14228,Yolo,8.0,0.0,2,0,3/23/2020
6841,Lassen,4.0,0.0,0,0,6/4/2020
2091,Monterey,6974.0,51.0,82,2,8/21/2020
6748,Shasta,2122.0,31.0,74,0,10/31/2020
11539,Kings,8228.0,83.0,10,0,10/24/2020
3932,Butte,44.0,0.0,3,0,5/30/2020
3460,Alpine,1.0,0.0,0,0,6/11/2020
5923,Mariposa,41.0,1.0,1,0,7/24/2020
13736,Plumas,121.0,0.0,10,0,11/12/2020
8289,Alameda,4485.0,116.0,57,4,6/17/2020
4284,Santa Cruz,2155.0,8.0,66,0,9/17/2020
13883,Amador,153.0,2.0,14,0,8/9/2020
272,San Mateo,768.0,28.0,23,3,4/17/2020
1894,Solano,6475.0,72.0,30,1,10/5/2020
10462,Napa,459.0,4.0,5,0,7/7/2020
33,Santa Clara,1920.0,83.0,42,4,4/20/2020
9136,Out Of Country,0.0,0.0,0,0,11/10/2020
10910,Sacramento,1415.0,58.0,17,1,6/1/2020
12345,Contra Costa,1106.0,33.0,16,0,5/15/2020
8834,San Diego,34962.0,626.0,282,0,8/17/2020
5023,Inyo,189.0,15.0,1,0,9/30/2020
3472,Alpine,1.0,0.0,0,0,6/23/2020
8014,San Benito,57.0,2.0,1,0,5/15/2020
12149,Unassigned,5.0,0.0,1,0,6/30/2020
9346,Glenn,617.0,3.0,1,0,10/9/2020
12395,Contra Costa,3583.0,81.0,136,2,7/4/2020
791,Tuolumne,2.0,0.0,0,0,5/22/2020
1136,Sierra,6.0,0.0,0,0,9/3/2020
8712,San Diego,2160.0,83.0,71,6,4/17/2020
1462,San Luis Obispo,55.0,0.0,3,0,3/29/2020
278,San Mateo,970.0,39.0,25,0,4/23/2020
3673,Nevada,41.0,1.0,0,0,5/13/2020
7860,Tulare,11392.0,198.0,642,2,8/11/2020
10645,Los Angeles,31268.0,1512.0,911,44,5/9/2020
8334,Alameda,11590.0,189.0,149,7,8/1/2020
1172,Sierra,6.0,0.0,0,0,10/9/2020
8875,San Diego,46612.0,776.0,279,1,9/27/2020
8905,San Diego,55226.0,877.0,269,7,10/27/2020
11069,Sacramento,27773.0,508.0,284,0,11/7/2020
9918,Tehama,1.0,1.0,0,0,5/8/2020

In [5]:
df_by_age = pd.read_csv("case_demographics_age.csv")
df_by_age

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
0,0-17,120,4/2/2020,NaN,NaN,NaN,NaN
1,18-49,5302,4/2/2020,NaN,NaN,NaN,NaN
2,50-64,2879,4/2/2020,NaN,NaN,NaN,NaN
3,65 and Older,2342,4/2/2020,NaN,NaN,NaN,NaN
4,Unknown,58,4/2/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1130,0-17,111029,11/14/2020,10.9,2.0,0.0,22.5
1131,18-49,608738,11/14/2020,59.7,1325.0,7.2,43.5
1132,50-64,191565,11/14/2020,18.8,3498.0,19.1,18.4
1133,65+,107074,11/14/2020,10.5,13476.0,73.6,15.6
1134,Missing,939,11/14/2020,0.1,1.0,0.0,0.0

In [6]:
df_by_age.sample(50)

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
1053,65+,97247,10/29/2020,10.6,12936.0,73.7,15.6
702,50-64,123591,8/20/2020,19.0,2142.0,18.5,18.4
175,0-17,2181,5/7/2020,3.5,0.0,0.0,22.5
181,18-49,32004,5/8/2020,49.6,156.0,6.1,43.5
727,50-64,128929,8/25/2020,19.0,2247.0,18.5,18.4
1123,65+,105031,11/12/2020,10.5,13375.0,73.6,15.6
378,65+,25109,6/15/2020,16.4,3892.0,77.8,15.6
561,18-49,262780,7/23/2020,60.4,547.0,6.8,43.5
829,Missing,912,9/14/2020,0.1,1.0,0.0,0.0
1051,18-49,547963,10/29/2020,59.8,1258.0,7.2,43.5
79,Unknown,67,4/17/2020,NaN,NaN,NaN,NaN
396,18-49,95513,6/20/2020,54.9,326.0,6.0,43.5
790,0-17,75198,9/7/2020,10.2,3.0,0.0,22.5
420,0-17,15449,6/25/2020,7.7,0.0,0.0,22.5
99,Unknown,67,4/21/2020,NaN,NaN,NaN,NaN
222,50-64,19365,5/16/2020,24.6,475.0,14.9,18.4
679,Missing,866,8/15/2020,0.1,4.0,0.0,0.0
724,Missing,929,8/24/2020,0.1,3.0,0.0,0.0
581,18-49,282008,7/27/2020,60.4,589.0,7.0,43.5
223,65+,16489,5/16/2020,20.9,2516.0,79.1,15.6
722,50-64,127847,8/24/2020,19.0,2213.0,18.4,18.4
202,50-64,17701,5/12/2020,24.9,440.0,15.5,18.4
508,65+,40473,7/12/2020,12.3,5367.0,76.5,15.6
39,Unknown,52,4/9/2020,NaN,NaN,NaN,NaN
47,50-64,5941,4/11/2020,NaN,NaN,NaN,NaN
432,50-64,44383,6/27/2020,21.1,954.0,16.4,18.4
606,18-49,308114,8/1/2020,60.5,666.0,7.2,43.5
526,18-49,219485,7/16/2020,59.9,484.0,6.5,43.5
775,0-17,73915,9/4/2020,10.2,3.0,0.0,22.5
390,0-17,12441,6/19/2020,7.3,0.0,0.0,22.5
68,65 and Older,6051,4/15/2020,NaN,NaN,NaN,NaN
199,Unknown,93,5/11/2020,0.1,1.0,0.0,0.0
675,0-17,60630,8/15/2020,9.8,1.0,0.0,22.5
644,Missing,748,8/8/2020,0.1,2.0,0.0,0.0
760,0-17,72271,9/1/2020,10.1,3.0,0.0,22.5
301,18-49,52555,5/27/2020,51.7,218.0,5.7,43.5
353,65+,23154,6/8/2020,17.3,3564.0,78.2,15.6
478,65+,35957,7/6/2020,12.9,4916.0,77.3,15.6
502,50-64,63696,7/11/2020,19.9,1187.0,17.0,18.4
379,Missing,205,6/15/2020,0.1,1.0,0.0,0.0
904,Missing,889,9/29/2020,0.1,0.0,0.0,0.0
615,0-17,47920,8/3/2020,9.2,1.0,0.0,22.5
840,0-17,78946,9/17/2020,10.3,3.0,0.0,22.5
595,0-17,44793,7/30/2020,9.1,0.0,0.0,22.5
624,Missing,656,8/4/2020,0.1,1.0,0.0,0.0
1042,50-64,171333,10/27/2020,18.9,3332.0,19.1,18.4
297,50-64,23633,5/26/2020,23.9,564.0,15.2,18.4
1010,0-17,93249,10/21/2020,10.6,2.0,0.0,22.5
1055,0-17,98615,10/30/2020,10.7,2.0,0.0,22.5
1016,18-49,530359,10/22/2020,59.8,1229.0,7.2,43.5

In [7]:
df_by_age.dropna()

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
100,0-17,855,4/22/2020,2.29,0.0,0.00,22.49
101,18-49,18004,4/22/2020,48.18,99.0,7.09,43.52
102,50-64,10025,4/22/2020,26.83,223.0,15.97,18.42
103,65 and Older,8401,4/22/2020,22.48,1074.0,76.93,15.57
105,0-17,936,4/23/2020,2.38,0.0,0.00,22.49
...,...,...,...,...,...,...,...
1130,0-17,111029,11/14/2020,10.90,2.0,0.00,22.50
1131,18-49,608738,11/14/2020,59.70,1325.0,7.20,43.50
1132,50-64,191565,11/14/2020,18.80,3498.0,19.10,18.40
1133,65+,107074,11/14/2020,10.50,13476.0,73.60,15.60
1134,Missing,939,11/14/2020,0.10,1.0,0.00,0.00

In [8]:
df_by_sex = pd.read_csv("case_demographics_sex.csv")
df_by_sex

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,4/2/2020,NaN,NaN,NaN,NaN
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
2,Unknown,139,4/2/2020,NaN,NaN,NaN,NaN
3,Female,5674,4/3/2020,NaN,NaN,NaN,NaN
4,Male,6202,4/3/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
680,Male,490387,11/13/2020,48.6,10426.0,57.2,49.7
681,Unknown,7821,11/13/2020,0.8,31.0,0.2,0.0
682,Female,515924,11/14/2020,50.6,7804.0,42.6,50.3
683,Male,495550,11/14/2020,48.6,10466.0,57.2,49.7
684,Unknown,7871,11/14/2020,0.8,32.0,0.2,0.0

In [9]:
df_by_sex.sample(50)

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
477,Unknown,6555,9/6/2020,0.90,23.0,0.20,0.00
171,Unknown,539,5/27/2020,0.50,5.0,0.10,0.00
158,Male,46595,5/23/2020,50.30,2033.0,55.80,49.70
140,Male,40533,5/17/2020,50.40,1800.0,56.00,49.70
144,Unknown,476,5/18/2020,0.60,4.0,0.10,0.00
29,Male,10330,4/10/2020,NaN,NaN,NaN,NaN
631,Female,461383,10/28/2020,50.50,7475.0,42.70,50.30
155,Male,45580,5/22/2020,50.30,2000.0,55.70,49.70
26,Male,10330,4/10/2020,NaN,NaN,NaN,NaN
222,Unknown,672,6/13/2020,0.50,5.0,0.10,0.00
340,Female,212405,7/22/2020,49.90,3409.0,42.90,50.30
39,Unknown,214,4/13/2020,NaN,NaN,NaN,NaN
8,Unknown,213,4/4/2020,NaN,NaN,NaN,NaN
28,Female,9981,4/10/2020,NaN,NaN,NaN,NaN
111,Unknown,429,5/7/2020,0.70,5.0,0.20,0.00
554,Male,399431,10/2/2020,48.70,9106.0,57.20,49.70
642,Unknown,7260,10/31/2020,0.80,31.0,0.20,0.00
282,Unknown,1196,7/2/2020,0.50,8.0,0.10,0.00
175,Female,52561,5/29/2020,49.20,1759.0,44.10,50.30
391,Female,281543,8/9/2020,50.10,4363.0,42.60,50.30
681,Unknown,7821,11/13/2020,0.80,31.0,0.20,0.00
215,Male,71605,6/11/2020,50.40,2700.0,55.90,49.70
660,Unknown,7494,11/6/2020,0.80,31.0,0.20,0.00
248,Male,89690,6/21/2020,50.40,3047.0,56.20,49.70
285,Unknown,1268,7/3/2020,0.50,8.0,0.10,0.00
408,Unknown,6605,8/14/2020,1.10,17.0,0.20,0.00
260,Male,101070,6/25/2020,50.40,3210.0,56.10,49.70
469,Female,367462,9/4/2020,50.50,5699.0,42.30,50.30
416,Male,307821,8/17/2020,48.70,6402.0,57.40,49.70
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
337,Female,206176,7/21/2020,49.90,3346.0,42.90,50.30
666,Unknown,7614,11/8/2020,0.80,31.0,0.20,0.00
70,Female,20395,4/24/2020,49.58,625.0,39.73,50.31
153,Unknown,638,5/21/2020,0.70,4.0,0.10,0.00
657,Unknown,7456,11/5/2020,0.80,31.0,0.20,0.00
517,Female,394632,9/20/2020,50.50,6329.0,42.60,50.30
208,Female,66889,6/9/2020,49.10,2047.0,43.90,50.30
669,Unknown,7635,11/9/2020,0.80,31.0,0.20,0.00
444,Unknown,6696,8/26/2020,1.00,21.0,0.20,0.00
600,Unknown,6907,10/17/2020,0.80,30.0,0.20,0.00
355,Female,233477,7/27/2020,50.00,3607.0,42.80,50.30
610,Female,444925,10/21/2020,50.50,7327.0,42.80,50.30
60,Unknown,257,4/20/2020,NaN,NaN,NaN,NaN
556,Female,415440,10/3/2020,50.40,6821.0,42.60,50.30
440,Male,330194,8/25/2020,48.60,6998.0,57.60,49.70
102,Unknown,379,5/4/2020,0.70,5.0,0.20,0.00
151,Female,43272,5/21/2020,48.90,1562.0,44.10,50.30
199,Female,63173,6/6/2020,49.00,1979.0,44.00,50.30
548,Male,396552,9/30/2020,48.70,8997.0,57.10,49.70
650,Male,457423,11/3/2020,48.70,10166.0,57.20,49.70

In [10]:
df_by_sex.dropna()

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
64,Female,18395,4/22/2020,49.23,552.0,39.54,50.31
65,Male,18690,4/22/2020,50.01,839.0,60.10,49.69
67,Female,19394,4/23/2020,49.41,593.0,39.82,50.31
68,Male,19577,4/23/2020,49.87,891.0,59.84,49.69
70,Female,20395,4/24/2020,49.58,625.0,39.73,50.31
...,...,...,...,...,...,...,...
680,Male,490387,11/13/2020,48.60,10426.0,57.20,49.70
681,Unknown,7821,11/13/2020,0.80,31.0,0.20,0.00
682,Female,515924,11/14/2020,50.60,7804.0,42.60,50.30
683,Male,495550,11/14/2020,48.60,10466.0,57.20,49.70
684,Unknown,7871,11/14/2020,0.80,32.0,0.20,0.00

In [11]:
df_by_ethnic = pd.read_csv("case_demographics_ethnicity.csv")
df_by_ethnic

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
0,Latino,5276,35.99,170,28.38,38.9,4/13/2020
1,Latino,5910,37.18,203,29.72,38.9,4/14/2020
2,Latino,6433,37.80,226,29.70,38.9,4/15/2020
3,Latino,7013,38.51,254,29.85,38.9,4/16/2020
4,Latino,7627,39.41,281,30.58,38.9,4/17/2020
...,...,...,...,...,...,...,...
1723,Black,30571,4.20,1341,7.40,6.0,11/14/2020
1724,Multi-Race,8786,1.20,153,0.80,2.2,11/14/2020
1725,American Indian or Alaska Native,2126,0.30,61,0.30,0.5,11/14/2020
1726,Native Hawaiian and other Pacific Islander,3923,0.50,86,0.50,0.3,11/14/2020
1727,Other,71047,9.70,85,0.50,0.0,11/14/2020

In [12]:
df_by_ethnic.sample(50)

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
365,Black,3533,5.7,353,10.20,6.0,5/21/2020
1093,American Indian or Alaska Native,1131,0.2,38,0.30,0.5,8/27/2020
1029,American Indian or Alaska Native,1014,0.2,40,0.40,0.5,8/19/2020
784,Latino,143273,55.6,3386,44.80,38.9,7/20/2020
699,Black,8560,4.4,601,9.00,6.0,7/9/2020
704,Latino,109834,54.8,2941,43.60,38.9,7/10/2020
1167,Other,55302,11.2,159,1.20,0.0,9/5/2020
89,Asian,4826,11.2,401,16.30,15.4,5/8/2020
1479,Other,59191,9.8,96,0.60,0.0,10/14/2020
1392,Latino,353042,61.1,7708,48.60,38.9,10/4/2020
606,Native Hawaiian and other Pacific Islander,900,0.6,22,0.40,0.3,6/27/2020
638,Native Hawaiian and other Pacific Islander,975,0.6,23,0.40,0.3,7/1/2020
743,Other,35554,15.9,87,1.20,0.0,7/14/2020
1502,Native Hawaiian and other Pacific Islander,3276,0.5,79,0.50,0.3,10/17/2020
972,Multi-Race,3262,0.8,62,0.60,2.2,8/12/2020
908,Multi-Race,2708,0.8,49,0.50,2.2,8/3/2020
702,Native Hawaiian and other Pacific Islander,1187,0.6,30,0.50,0.3,7/9/2020
1577,White,112941,17.6,5197,30.10,36.6,10/27/2020
1538,Asian,34895,5.6,2005,11.80,15.4,10/22/2020
731,Black,9389,4.3,616,8.90,6.0,7/13/2020
245,Other,2275,6.0,36,1.70,0.0,5/4/2020
924,Multi-Race,2830,0.8,53,0.60,2.2,8/5/2020
974,Native Hawaiian and other Pacific Islander,2232,0.6,52,0.50,0.3,8/12/2020
313,White,12153,23.0,1021,34.10,36.6,5/15/2020
1592,Latino,396813,61.0,8449,48.60,38.9,10/29/2020
1447,Other,58729,9.9,105,0.60,0.0,10/10/2020
805,American Indian or Alaska Native,616,0.2,28,0.40,0.5,7/22/2020
1424,Latino,359286,61.1,7847,48.60,38.9,10/8/2020
1308,Multi-Race,5713,1.0,102,0.70,2.2,9/23/2020
1159,Other,55306,11.3,156,1.20,0.0,9/4/2020
253,Other,2636,5.6,42,1.50,0.0,5/12/2020
763,Black,10432,4.3,641,8.70,6.0,7/17/2020
402,American Indian or Alaska Native,155,0.2,14,0.40,0.5,5/29/2020
1182,Native Hawaiian and other Pacific Islander,2766,0.6,59,0.40,0.3,9/7/2020
1128,Latino,284716,60.0,6206,48.50,38.9,9/1/2020
150,Multiracial,339,0.9,9,0.40,2.2,5/5/2020
579,Black,5981,4.5,519,9.40,6.0,6/24/2020
401,American Indian or Alaska Native,148,0.2,14,0.40,0.5,5/28/2020
1498,Asian,33970,5.6,1963,11.70,15.4,10/17/2020
748,Multi-Race,1679,0.7,41,0.60,2.2,7/15/2020
922,Asian,18678,5.4,1171,12.30,15.4,8/5/2020
1000,Latino,240925,59.0,5167,47.50,38.9,8/16/2020
1503,Other,59251,9.7,88,0.50,0.0,10/17/2020
135,Multiracial,876,3.9,16,1.48,2.2,4/20/2020
1640,Latino,408768,60.9,8573,48.50,38.9,11/4/2020
978,Asian,21090,5.4,1282,12.10,15.4,8/13/2020
991,Other,51334,12.8,136,1.30,0.0,8/14/2020
1015,Other,52325,12.7,138,1.30,0.0,8/17/2020
1041,White,72737,16.9,3413,29.50,36.6,8/21/2020
1510,Native Hawaiian and other Pacific Islander,3294,0.5,78,0.50,0.3,10/18/2020

In [13]:
df_by_ethnic.dropna()

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
0,Latino,5276,35.99,170,28.38,38.9,4/13/2020
1,Latino,5910,37.18,203,29.72,38.9,4/14/2020
2,Latino,6433,37.80,226,29.70,38.9,4/15/2020
3,Latino,7013,38.51,254,29.85,38.9,4/16/2020
4,Latino,7627,39.41,281,30.58,38.9,4/17/2020
...,...,...,...,...,...,...,...
1723,Black,30571,4.20,1341,7.40,6.0,11/14/2020
1724,Multi-Race,8786,1.20,153,0.80,2.2,11/14/2020
1725,American Indian or Alaska Native,2126,0.30,61,0.30,0.5,11/14/2020
1726,Native Hawaiian and other Pacific Islander,3923,0.50,86,0.50,0.3,11/14/2020
1727,Other,71047,9.70,85,0.50,0.0,11/14/2020

In [14]:
df_unemployment = pd.read_csv("Unemployment_Rate_by_Age_Groups.csv")
df_unemployment

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
0,California,State,5/1/2019,2019,May,0.2,0.1,0.0,0.0,0.0,0.0,0.0
1,California,State,4/1/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
2,California,State,3/1/2019,2019,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
3,California,State,2/1/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
4,California,State,1/1/2019,2019,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
147,California,State,5/1/2020,2020,May,0.2,0.1,0.1,0.0,0.0,0.0,0.1
148,California,State,6/1/2020,2020,June,0.2,0.1,0.1,0.1,0.1,0.1,0.1
149,California,State,7/1/2020,2020,July,0.2,0.1,0.1,0.1,0.1,0.1,0.1
150,California,State,8/1/2020,2020,August,0.2,0.1,0.1,0.1,0.1,0.1,0.1
151,California,State,9/1/2020,2020,September,0.2,0.1,0.1,0.1,0.1,0.1,0.1

In [15]:
df_unemployment.sample(50)

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
135,California,State,2/1/2008,2008,February,0.2,0.1,0.1,0.0,0.0,0.0,0.0
47,California,State,6/1/2015,2015,June,0.2,0.1,0.1,0.1,0.0,0.1,0.1
94,California,State,7/1/2011,2011,July,0.3,0.2,0.1,0.1,0.1,0.1,0.1
8,California,State,9/1/2018,2018,September,0.2,0.1,0.0,0.0,0.0,0.0,0.0
69,California,State,8/1/2013,2013,August,0.3,0.2,0.1,0.1,0.1,0.1,0.1
56,California,State,9/1/2014,2014,September,0.3,0.1,0.1,0.1,0.1,0.1,0.1
36,California,State,5/1/2016,2016,May,0.2,0.1,0.1,0.0,0.0,0.0,0.0
101,California,State,12/1/2010,2010,December,0.3,0.2,0.1,0.1,0.1,0.1,0.1
110,California,State,3/1/2010,2010,March,0.3,0.2,0.1,0.1,0.1,0.1,0.1
11,California,State,6/1/2018,2018,June,0.2,0.1,0.0,0.0,0.0,0.0,0.0
139,California,State,9/1/2019,2019,September,0.1,0.1,0.0,0.0,0.0,0.0,0.0
72,California,State,5/1/2013,2013,May,0.3,0.1,0.1,0.1,0.1,0.1,0.1
26,California,State,3/1/2017,2017,March,0.2,0.1,0.1,0.0,0.0,0.0,0.0
75,California,State,2/1/2013,2013,February,0.3,0.2,0.1,0.1,0.1,0.1,0.1
34,California,State,7/1/2016,2016,July,0.2,0.1,0.1,0.0,0.0,0.0,0.0
149,California,State,7/1/2020,2020,July,0.2,0.1,0.1,0.1,0.1,0.1,0.1
127,California,State,10/1/2008,2008,October,0.2,0.1,0.1,0.1,0.0,0.0,0.1
61,California,State,4/1/2014,2014,April,0.3,0.1,0.1,0.1,0.1,0.1,0.1
17,California,State,12/1/2017,2017,December,0.2,0.1,0.0,0.0,0.0,0.0,0.0
128,California,State,9/1/2008,2008,September,0.2,0.1,0.1,0.0,0.0,0.0,0.0
1,California,State,4/1/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
90,California,State,11/1/2011,2011,November,0.3,0.2,0.1,0.1,0.1,0.1,0.1
144,California,State,2/1/2020,2020,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
40,California,State,1/1/2016,2016,January,0.2,0.1,0.1,0.0,0.0,0.0,0.0
3,California,State,2/1/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
4,California,State,1/1/2019,2019,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
133,California,State,4/1/2008,2008,April,0.2,0.1,0.1,0.0,0.0,0.0,0.0
52,California,State,1/1/2015,2015,January,0.3,0.1,0.1,0.1,0.1,0.1,0.1
33,California,State,8/1/2016,2016,August,0.2,0.1,0.1,0.0,0.0,0.0,0.0
86,California,State,3/1/2012,2012,March,0.4,0.2,0.1,0.1,0.1,0.1,0.1
19,California,State,10/1/2017,2017,October,0.2,0.1,0.0,0.0,0.0,0.0,0.0
20,California,State,9/1/2017,2017,September,0.2,0.1,0.0,0.0,0.0,0.0,0.0
50,California,State,3/1/2015,2015,March,0.2,0.1,0.1,0.1,0.1,0.1,0.1
92,California,State,9/1/2011,2011,September,0.3,0.2,0.1,0.1,0.1,0.1,0.1
96,California,State,5/1/2011,2011,May,0.3,0.2,0.1,0.1,0.1,0.1,0.1
91,California,State,10/1/2011,2011,October,0.3,0.2,0.1,0.1,0.1,0.1,0.1
79,California,State,10/1/2012,2012,October,0.4,0.2,0.1,0.1,0.1,0.1,0.1
53,California,State,12/1/2014,2014,December,0.3,0.1,0.1,0.1,0.1,0.1,0.1
130,California,State,7/1/2008,2008,July,0.2,0.1,0.1,0.0,0.0,0.0,0.0
85,California,State,4/1/2012,2012,April,0.4,0.2,0.1,0.1,0.1,0.1,0.1
109,California,State,4/1/2010,2010,April,0.3,0.2,0.1,0.1,0.1,0.1,0.1
68,California,State,9/1/2013,2013,September,0.3,0.2,0.1,0.1,0.1,0.1,0.1
117,California,State,8/1/2009,2009,August,0.3,0.2,0.1,0.1,0.1,0.1,0.1
16,California,State,1/1/2018,2018,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
113,California,State,12/1/2009,2009,December,0.3,0.2,0.1,0.1,0.1,0.1,0.1
81,California,State,8/1/2012,2012,August,0.4,0.2,0.1,0.1,0.1,0.1,0.1
39,California,State,2/1/2016,2016,February,0.2,0.1,0.1,0.0,0.0,0.0,0.0
108,California,State,5/1/2010,2010,May,0.3,0.2,0.1,0.1,0.1,0.1,0.1
25,California,State,4/1/2017,2017,April,0.2,0.1,0.1,0.0,0.0,0.0,0.0
28,California,State,1/1/2017,2017,January,0.2,0.1,0.1,0.0,0.0,0.0,0.0

In [16]:
df_unemployment.dropna()

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
0,California,State,5/1/2019,2019,May,0.2,0.1,0.0,0.0,0.0,0.0,0.0
1,California,State,4/1/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
2,California,State,3/1/2019,2019,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
3,California,State,2/1/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
4,California,State,1/1/2019,2019,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
147,California,State,5/1/2020,2020,May,0.2,0.1,0.1,0.0,0.0,0.0,0.1
148,California,State,6/1/2020,2020,June,0.2,0.1,0.1,0.1,0.1,0.1,0.1
149,California,State,7/1/2020,2020,July,0.2,0.1,0.1,0.1,0.1,0.1,0.1
150,California,State,8/1/2020,2020,August,0.2,0.1,0.1,0.1,0.1,0.1,0.1
151,California,State,9/1/2020,2020,September,0.2,0.1,0.1,0.1,0.1,0.1,0.1

In [17]:
df_homeless = pd.read_csv("homeless_impact.csv")
df_homeless

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Alameda,4/14/2020,403.0,115.0,91.0,85.0,NaN
1,Alpine,4/14/2020,NaN,NaN,NaN,NaN,NaN
2,Amador,4/14/2020,NaN,NaN,NaN,NaN,NaN
3,Butte,4/14/2020,65.0,65.0,NaN,NaN,NaN
4,Calaveras,4/14/2020,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9748,Ventura County,11/13/2020,362.0,183.0,NaN,NaN,NaN
9749,Yolo County,11/13/2020,157.0,149.0,NaN,NaN,NaN
9750,Yuba County,11/13/2020,NaN,NaN,NaN,NaN,NaN
9751,Wilton Rancheria Tribe,11/13/2020,NaN,NaN,NaN,NaN,NaN
9752,Bishop Paiute Tribal Council,11/13/2020,NaN,NaN,NaN,NaN,NaN

In [18]:
df_homeless.sample(50)

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
4248,Kings County,7/6/2020,43.0,42.0,NaN,NaN,NaN
4657,Calaveras County,7/15/2020,31.0,20.0,NaN,NaN,NaN
376,Nevada,4/20/2020,27.0,NaN,NaN,NaN,NaN
8313,Alameda County,10/12/2020,973.0,800.0,91.0,91.0,NaN
1019,Monterey County,5/1/2020,142.0,NaN,108.0,15.0,NaN
9710,Lassen County,11/13/2020,NaN,NaN,NaN,NaN,NaN
2866,Inyo County,6/3/2020,NaN,NaN,NaN,NaN,NaN
1272,San Luis Obispo County,5/5/2020,155.0,NaN,14.0,14.0,NaN
2270,Lassen County,5/22/2020,NaN,NaN,NaN,NaN,NaN
233,Alpine,4/18/2020,NaN,NaN,NaN,NaN,NaN
4299,Contra Costa County,7/7/2020,566.0,444.0,NaN,NaN,NaN
6585,Imperial County,8/31/2020,126.0,119.0,80.0,79.0,NaN
5406,Sacramento County,7/31/2020,525.0,503.0,63.0,63.0,NaN
4462,Stanislaus County,7/9/2020,131.0,107.0,NaN,NaN,NaN
3075,Santa Clara County,6/8/2020,674.0,450.0,105.0,105.0,NaN
8834,Santa Barbara County,10/22/2020,95.0,55.0,NaN,NaN,NaN
4984,Plumas County,7/22/2020,NaN,NaN,NaN,NaN,NaN
7610,Lassen County,9/24/2020,NaN,NaN,NaN,NaN,NaN
7960,Del Norte County,10/2/2020,29.0,29.0,NaN,NaN,NaN
803,Sonoma County,4/27/2020,45.0,45.0,NaN,NaN,NaN
9118,Mono County,10/29/2020,NaN,NaN,NaN,NaN,NaN
7733,Marin County,9/28/2020,128.0,88.0,44.0,NaN,NaN
6388,Ventura County,8/25/2020,341.0,157.0,NaN,NaN,NaN
3417,Modoc County,6/16/2020,NaN,NaN,NaN,NaN,NaN
6840,Napa County,9/4/2020,111.0,99.0,18.0,12.0,NaN
9030,Yuba County,10/27/2020,NaN,NaN,NaN,NaN,NaN
2282,Orange County,5/22/2020,666.0,356.0,78.0,78.0,NaN
5615,Amador County,8/6/2020,NaN,NaN,NaN,NaN,NaN
3144,Tehama County,6/9/2020,NaN,NaN,NaN,NaN,NaN
350,Amador,4/20/2020,NaN,NaN,NaN,NaN,NaN
255,Merced,4/18/2020,NaN,NaN,NaN,NaN,NaN
5288,San BernardinoÂ County,7/29/2020,50.0,37.0,20.0,NaN,20.0
7475,Amador County,9/22/2020,NaN,NaN,NaN,NaN,NaN
1213,San Mateo County,5/4/2020,147.0,139.0,NaN,NaN,NaN
6031,Wilton Rancheria Tribe,8/14/2020,NaN,NaN,NaN,NaN,NaN
5123,Sutter County,7/24/2020,21.0,21.0,NaN,NaN,NaN
9370,San Francisco,11/4/2020,2731.0,2024.0,91.0,91.0,NaN
2523,Placer County,5/26/2020,73.0,44.0,12.0,12.0,NaN
8912,Bishop Paiute Tribal Council,10/23/2020,NaN,NaN,NaN,NaN,NaN
2732,Bishop Paiute Tribal Council,5/29/2020,NaN,NaN,NaN,NaN,NaN
9429,San Diego County,11/5/2020,784.0,41.0,44.0,44.0,NaN
3533,Marin County,6/18/2020,200.0,126.0,44.0,NaN,NaN
6610,San Francisco,8/31/2020,2613.0,1944.0,91.0,91.0,NaN
5632,Madera County,8/6/2020,17.0,17.0,NaN,NaN,NaN
1776,Butte County,5/14/2020,116.0,116.0,NaN,NaN,NaN
3790,San Francisco,6/24/2020,2412.0,1569.0,91.0,91.0,NaN
3823,Glenn County,6/25/2020,NaN,NaN,NaN,NaN,NaN
7672,Madera County,9/25/2020,19.0,NaN,NaN,NaN,NaN
8327,Kern County,10/12/2020,NaN,NaN,15.0,15.0,NaN
146,Placer,4/16/2020,15.0,15.0,NaN,NaN,NaN

In [19]:
df_juvenile_facilities = pd.read_csv('juvenile_facilities_covid19.csv')
df_juvenile_facilities

,Reporting_Period,County,Facility_Name,Youth_in_Facility,Youth_Tested,Youth_Confirmed_Positive,Youth_Confirmed_at_Intake_(Optional),Youth_Confirmed_in_First_14_Days_(Optional),Youth_Confirmed_In_Custody_(Optional),Youth_Hospitalized,Estimated_Youth_Resolved,Youth_Deaths,Additional_Information_(Optional),Staff_Tested,Staff_Confirmed_Positive,Staff_Resolved,Additional_County_Information
0,10/04/20 - 10/10/20,Alameda,Alameda Camp Sweeney,12,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,10/11/20 - 10/17/20,Alameda,Alameda Camp Sweeney,14,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,10/18/20 - 10/24/20,Alameda,Alameda Camp Sweeney,16,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,10/25/20 - 10/31/20,Alameda,Alameda Camp Sweeney,10,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,11/01/20 - 11/07/20,Alameda,Alameda Camp Sweeney,13,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,8/30/20 - 9/05/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1825,9/06/20 - 9/12/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1826,9/13/20 - 9/19/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1827,9/20/20 - 9/26/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1828,9/27/20 - 10/03/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN

In [20]:
df_juvenile_facilities.sample(50)
#elimanate optional column

,Reporting_Period,County,Facility_Name,Youth_in_Facility,Youth_Tested,Youth_Confirmed_Positive,Youth_Confirmed_at_Intake_(Optional),Youth_Confirmed_in_First_14_Days_(Optional),Youth_Confirmed_In_Custody_(Optional),Youth_Hospitalized,Estimated_Youth_Resolved,Youth_Deaths,Additional_Information_(Optional),Staff_Tested,Staff_Confirmed_Positive,Staff_Resolved,Additional_County_Information
1696,10/25/20 - 10/31/20,Tuolumne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
820,9/27/20 - 10/03/20,Orange,Orange Co. Youth Guidance Ctr.,24,<11,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1797,10/04/20 - 10/10/20,Yuba,Yuba/Sutter Juvenile Hall,15,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
573,8/09/20 - 8/15/20,Madera,Juvenile Detention Center/Correctional Academy,21,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1693,10/04/20 - 10/10/20,Tuolumne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
800,8/30/20 - 9/05/20,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1623,8/23/20 - 8/29/20,Tehama,Tehama County Juvenile Detention Facility,13,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
476,8/30/20 - 9/05/20,Los Angeles,L. A. Camp Dorothy Kirby,59,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1289,8/30/20 - 9/05/20,San Mateo,Margaret J. Kemp Girl's Camp,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1088,8/30/20 - 9/05/20,San Bernardino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,0,0,NaN
991,8/23/20 - 8/29/20,Sacramento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,<11,NaN
1301,8/02/20 - 8/08/20,San Mateo,San Mateo County Youth Services Center,20,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1160,11/01/20 - 11/07/20,San Francisco,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,10/04/20 - 10/10/20,Humboldt,Humboldt County Juvenile Hall,6,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
842,7/19/20 - 7/25/20,Orange,Youth Leadership Academy,23,<11,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1327,10/11/20 - 10/17/20,Santa Barbara,Los Prietos Boys Camp,7,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1096,10/25/20 - 10/31/20,San Diego,East Mesa Juvenile Hall,69,<11,0,0,0,0,0,0,0,https://www.sandiegocounty.gov/content/sdc/pro...,NaN,NaN,NaN,NaN
855,10/18/20 - 10/24/20,Orange,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,0,0,NaN
1344,10/11/20 - 10/17/20,Santa Barbara,Susan J. Gionfriddo Juvenile Justice Center,13,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
890,7/19/20 - 7/25/20,Placer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1826,9/13/20 - 9/19/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1269,8/02/20 - 8/08/20,San Luis Obispo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Data Reported,NaN,NaN,NaN
1024,8/30/20 - 9/05/20,San Benito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
670,8/16/20 - 8/22/20,Merced,Juv. Justice Corr. Complex/Bear Creek Academy ...,29,<11,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
938,7/19/20 - 7/25/20,Riverside,Southwest Juvenile Hall,48,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
594,9/13/20 - 9/19/20,Madera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,<11,<11,NaN
276,7/19/20 - 7/25/20,Humboldt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1321,8/30/20 - 9/05/20,San Mateo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN
1752,9/06/20 - 9/12/20,Ventura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
418,10/11/20 - 10/17/20,Los Angeles,Barry J. Nidorf Juvenile Hall,169,20,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
560,8/30/20 - 9/05/20,Los Angeles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,<11,0,NaN
1087,8/23/20 - 8/29/20,San Bernardino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,0,0,NaN
179,7/19/20 - 7/25/20,El Dorado,South Tahoe Challenge Camp,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1648,10/25/20 - 10/31/20,Tulare,Tulare Co. Juv. Det. Facility,42,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
240,10/11/20 - 10/17/20,Humboldt,Humboldt County Juvenile Hall,6,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
994,9/13/20 - 9/19/20,Sacramento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
266,8/30/20 - 9/05/20,Humboldt,Humboldt Regional Center,4,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
74,8/30/20 - 9/05/20,Butte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
940,8/02/20 - 8/08/20,Riverside,Southwest Juvenile Hall,45,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
963,9/20/20 - 9/26/20,Riverside,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
1058,9/13/20 - 9/19/20,San Bernardino,Gateway @ RYEF,14,0,0,U,U,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1111,10/18/20 - 10/24/20,San Diego,Kearny Mesa Juvenile Hall,78,22,<11,0,<11,0,0,0,0,https://www.sandiegocounty.gov/content/sdc/pro...,NaN,NaN,NaN,NaN
1436,9/13/20 - 9/19/20,Santa Cruz,Santa Cruz Juvenile Hall,16,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
668,8/02/20 - 8/08/20,Merced,Juv. Justice Corr. Complex/Bear Creek Academy ...,27,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1560,9/13/20 - 9/19/20,Sonoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1732,8/09/20 - 8/15/20,Ventura,VCPAJF Detention Services,33,<11,0,NaN,NaN,NaN,0,<11,0,NaN,NaN,NaN,NaN,NaN
759,10/18/20 - 10/24/20,Napa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1378,10/25/20 - 10/31/20,Santa Clara,Santa Clara Juvenile Hall,36,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1207,10/25/20 - 10/31/20,San Joaquin,San Joaquin Probation Camp,0,0,0,NaN,NaN,NaN,0,0,0,Youth at this Camp facility were included in d...,NaN,NaN,NaN,NaN
1067,8/02/20 - 8/08/20,San Bernardino,High Desert JDAC,U,U,U,U,U,U,U,U,U,NaN,NaN,NaN,NaN,NaN

In [23]:
df_adult_facilities = pd.read_csv('adult_facilities_covid19.csv')
df_adult_facilities

,Reporting_Period,County,Facility_Name,Number_of_Incarcerated_in_the_Facility,Total_Number_Tested,Total_Confirmed_Positive,Confirmed_at_Intake_(Optional),Confirmed_in_First_14 Days_(Optional),Confirmed_In_Custody_(Optional),Hospitalized,Estimated_Resolved,Deaths,Additional_Information_(Optional),Staff_Tested,Staff_Confirmed_Positive,Staff_Resolved,Additional_County_Information
0,10/04/20 - 10/10/20,Alameda,Santa Rita Jail,1916,148,<11,<11,<11,0,0,<11,0,NaN,NaN,NaN,NaN,NaN
1,10/11/20 - 10/17/20,Alameda,Santa Rita Jail,1985,200,0,0,0,0,0,<11,0,NaN,NaN,NaN,NaN,NaN
2,10/18/20 - 10/24/20,Alameda,Santa Rita Jail,2015,161,<11,<11,<11,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,10/25/20 - 10/31/20,Alameda,Santa Rita Jail,2009,214,<11,<11,<11,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,11/01/20 - 11/07/20,Alameda,Santa Rita Jail,2031,283,<11,<11,<11,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,8/30/20 - 9/05/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN
2496,9/06/20 - 9/12/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN
2497,9/13/20 - 9/19/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN
2498,9/20/20 - 9/26/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN
2499,9/27/20 - 10/03/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN

In [24]:
df_adult_facilities.sample(50)

,Reporting_Period,County,Facility_Name,Number_of_Incarcerated_in_the_Facility,Total_Number_Tested,Total_Confirmed_Positive,Confirmed_at_Intake_(Optional),Confirmed_in_First_14 Days_(Optional),Confirmed_In_Custody_(Optional),Hospitalized,Estimated_Resolved,Deaths,Additional_Information_(Optional),Staff_Tested,Staff_Confirmed_Positive,Staff_Resolved,Additional_County_Information
906,7/26/20 - 8/01/20,Merced,Merced County Jail,539,74,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
259,11/01/20 - 11/07/20,El Dorado,South Lake Tahoe Jail,113,0,0,0,0,0,0,0,0,Currently do not have a lab to send test to,NaN,NaN,NaN,NaN
2012,8/23/20 - 8/29/20,Siskiyou,Siskiyou County Jail,81,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1629,9/06/20 - 9/12/20,San Diego,Work Furlough/Corr. Alternative,233,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1653,8/09/20 - 8/15/20,San Francisco,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,10/18/20 - 10/24/20,Napa,Napa County Jail,179,46,<11,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
2234,11/01/20 - 11/07/20,Sutter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Data Reported,NaN,NaN,NaN
653,9/06/20 - 9/12/20,Los Angeles,LA Century Reg. Det. Facility,1294,131,<11,U,U,U,U,U,0,NaN,NaN,NaN,NaN,NaN
2252,8/02/20 - 8/08/20,Tehama,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,10/25/20 - 10/31/20,San Diego,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,<11,<11,The Work Furlough & Residential Re-Entry Cente...
2434,9/20/20 - 9/26/20,Ventura,Ventura County Main Jail/Todd Road Jail,1167,1144,<11,NaN,NaN,NaN,0,24,0,NaN,NaN,NaN,NaN,NaN
1836,8/23/20 - 8/29/20,Santa Barbara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277,0,<11,NaN
1671,8/02/20 - 8/08/20,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Data Reported,NaN,NaN,NaN
1468,9/06/20 - 9/12/20,San Bernardino,San Bernardino High Desert Detention Center,1174,141,<11,U,U,U,0,<11,0,NaN,NaN,NaN,NaN,NaN
712,8/02/20 - 8/08/20,Los Angeles,LA Pitchess North Facility,1157,<11,0,U,U,U,U,U,0,NaN,NaN,NaN,NaN,NaN
2129,8/30/20 - 9/05/20,Sonoma,Sonoma-North County Facility,0,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
348,9/13/20 - 9/19/20,Glenn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1043,8/09/20 - 8/15/20,Napa,Napa County Jail,195,30,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
31,9/27/20 - 10/03/20,Alameda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,<11,NaN
1259,9/06/20 - 9/12/20,Plumas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
504,8/02/20 - 8/08/20,Kern,Kern County Justice Facility,709,<11,<11,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
464,9/27/20 - 10/03/20,Inyo,Inyo County Jail,50,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
53,7/19/20 - 7/25/20,Amador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Data Reported,NaN,NaN,NaN
824,8/02/20 - 8/08/20,Marin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
1230,11/01/20 - 11/07/20,Plumas,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2365,8/16/20 - 8/22/20,Tulare,Tulare County Jail,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
813,9/06/20 - 9/12/20,Marin,Marin County Jail,175,<11,0,0,0,0,0,U,0,NaN,NaN,NaN,NaN,NaN
1394,9/20/20 - 9/26/20,San Benito,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2272,9/06/20 - 9/12/20,Tehama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Data Reported,NaN,NaN,NaN
1521,10/11/20 - 10/17/20,San Diego,George Bailey Detention Facility,1266,<11,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
2305,9/13/20 - 9/19/20,Trinity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1364,7/19/20 - 7/25/20,Sacramento,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,8/16/20 - 8/22/20,Los Angeles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,<11,U,NaN
516,10/25/20 - 10/31/20,Kern,Lerdo Pre-Trial Facility,941,<11,0,NaN,NaN,NaN,0,<11,0,NaN,NaN,NaN,NaN,NaN
496,9/27/20 - 10/03/20,Kern,Central Receiving Facility,196,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1937,9/27/20 - 10/03/20,Santa Cruz,Santa Cruz Main Jail,234,69,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
322,10/25/20 - 10/31/20,Glenn,Glenn County Adult Detention Facility,81,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1427,10/25/20 - 10/31/20,San Bernardino,San Bernardino Central Detention Center,788,152,0,U,U,U,0,0,0,NaN,NaN,NaN,NaN,NaN
679,7/26/20 - 8/01/20,Los Angeles,LA North County Corr. Facility,2692,U,0,U,U,U,U,U,0,NaN,NaN,NaN,NaN,NaN
1550,9/13/20 - 9/19/20,San Diego,Las Colinas Women's Detention,500,76,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
788,10/25/20 - 10/31/20,Madera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
1590,7/19/20 - 7/25/20,San Diego,South Bay Regional Facility- Chula Vista,329,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
976,8/02/20 - 8/08/20,Mono,Mono County Jail,25,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1966,9/06/20 - 9/12/20,Santa Cruz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
1435,8/30/20 - 9/05/20,San Bernardino,San Bernardino Central Detention Center,713,122,0,U,U,U,0,0,0,NaN,NaN,NaN,NaN,NaN
1688,7/26/20 - 8/01/20,San Joaquin,John J. Zunino Facility/San Joaquin County Hon...,1319,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2227,9/13/20 - 9/19/20,Sutter,Sutter County Jail,165,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2435,9/27/20 - 10/03/20,Ventura,Ventura County Main Jail/Todd Road Jail,1243,937,<11,NaN,NaN,NaN,0,18,0,NaN,NaN,NaN,NaN,NaN
1329,10/04/20 - 10/10/20,Riverside,Southwest Detention Center,1103,28,<11,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1013,9/06/20 - 9/12/20,Monterey,Monterey County Jail,729,119,<11,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN