In [8]:
# Import all the packages
import pandas as pd
import matplotlib as plt
import scipy as sts
import numpy as np
import requests
import json
np.random.seed(0)

In [9]:
df_by_county = pd.read_csv("statewide_cases.csv")
df_by_county

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,3/18/2020
1,Santa Clara,183.0,8.0,32,2,3/19/2020
2,Santa Clara,246.0,8.0,63,0,3/20/2020
3,Santa Clara,269.0,10.0,23,2,3/21/2020
4,Santa Clara,284.0,13.0,15,3,3/22/2020
...,...,...,...,...,...,...
14460,Yolo,3573.0,64.0,51,1,11/10/2020
14461,Yolo,3606.0,64.0,33,0,11/11/2020
14462,Yolo,3646.0,64.0,40,0,11/12/2020
14463,Yolo,3716.0,66.0,70,2,11/13/2020
14464,Yolo,3765.0,66.0,49,0,11/14/2020

In [10]:
df_by_county_unique=df_by_county["county"].nunique()
df_by_county_unique

60

In [11]:
df_by_county.sample(60)

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
12991,San Bernardino,61351.0,1072.0,497,2,10/24/2020
2873,Orange,56091.0,1401.0,139,10,10/16/2020
13777,Amador,8.0,0.0,0,0,4/25/2020
4265,Santa Cruz,1746.0,7.0,-1,0,8/29/2020
12929,San Bernardino,45010.0,691.0,207,0,8/23/2020
6973,Lassen,752.0,1.0,0,0,10/14/2020
11892,Riverside,11376.0,384.0,158,1,6/15/2020
6022,Mariposa,79.0,2.0,1,0,10/31/2020
488,Santa Barbara,16.0,0.0,8,0,3/22/2020
5976,Mariposa,74.0,2.0,0,0,9/15/2020
4480,Mendocino,247.0,9.0,4,0,8/2/2020
10817,Los Angeles,300726.0,7040.0,1288,13,10/28/2020
1569,San Luis Obispo,1060.0,5.0,71,0,7/14/2020
1256,Placer,162.0,8.0,1,0,5/4/2020
8602,Marin,5929.0,94.0,42,-1,8/27/2020
643,Santa Barbara,7784.0,88.0,59,1,8/24/2020
3601,Alpine,4.0,0.0,0,0,10/30/2020
11045,Sacramento,24013.0,462.0,83,4,10/14/2020
8081,San Benito,444.0,2.0,11,0,7/21/2020
7976,San Benito,26.0,2.0,1,1,4/7/2020
14228,Yolo,8.0,0.0,2,0,3/23/2020
6841,Lassen,4.0,0.0,0,0,6/4/2020
2091,Monterey,6974.0,51.0,82,2,8/21/2020
6748,Shasta,2122.0,31.0,74,0,10/31/2020
11539,Kings,8228.0,83.0,10,0,10/24/2020
3932,Butte,44.0,0.0,3,0,5/30/2020
3460,Alpine,1.0,0.0,0,0,6/11/2020
5923,Mariposa,41.0,1.0,1,0,7/24/2020
13736,Plumas,121.0,0.0,10,0,11/12/2020
8289,Alameda,4485.0,116.0,57,4,6/17/2020
4284,Santa Cruz,2155.0,8.0,66,0,9/17/2020
13883,Amador,153.0,2.0,14,0,8/9/2020
272,San Mateo,768.0,28.0,23,3,4/17/2020
1894,Solano,6475.0,72.0,30,1,10/5/2020
10462,Napa,459.0,4.0,5,0,7/7/2020
33,Santa Clara,1920.0,83.0,42,4,4/20/2020
9136,Out Of Country,0.0,0.0,0,0,11/10/2020
10910,Sacramento,1415.0,58.0,17,1,6/1/2020
12345,Contra Costa,1106.0,33.0,16,0,5/15/2020
8834,San Diego,34962.0,626.0,282,0,8/17/2020
5023,Inyo,189.0,15.0,1,0,9/30/2020
3472,Alpine,1.0,0.0,0,0,6/23/2020
8014,San Benito,57.0,2.0,1,0,5/15/2020
12149,Unassigned,5.0,0.0,1,0,6/30/2020
9346,Glenn,617.0,3.0,1,0,10/9/2020
12395,Contra Costa,3583.0,81.0,136,2,7/4/2020
791,Tuolumne,2.0,0.0,0,0,5/22/2020
1136,Sierra,6.0,0.0,0,0,9/3/2020
8712,San Diego,2160.0,83.0,71,6,4/17/2020
1462,San Luis Obispo,55.0,0.0,3,0,3/29/2020
278,San Mateo,970.0,39.0,25,0,4/23/2020
3673,Nevada,41.0,1.0,0,0,5/13/2020
7860,Tulare,11392.0,198.0,642,2,8/11/2020
10645,Los Angeles,31268.0,1512.0,911,44,5/9/2020
8334,Alameda,11590.0,189.0,149,7,8/1/2020
1172,Sierra,6.0,0.0,0,0,10/9/2020
8875,San Diego,46612.0,776.0,279,1,9/27/2020
8905,San Diego,55226.0,877.0,269,7,10/27/2020
11069,Sacramento,27773.0,508.0,284,0,11/7/2020
9918,Tehama,1.0,1.0,0,0,5/8/2020

In [12]:
df_county_clean = df_by_county.dropna()

In [13]:
df_county_clean

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,3/18/2020
1,Santa Clara,183.0,8.0,32,2,3/19/2020
2,Santa Clara,246.0,8.0,63,0,3/20/2020
3,Santa Clara,269.0,10.0,23,2,3/21/2020
4,Santa Clara,284.0,13.0,15,3,3/22/2020
...,...,...,...,...,...,...
14460,Yolo,3573.0,64.0,51,1,11/10/2020
14461,Yolo,3606.0,64.0,33,0,11/11/2020
14462,Yolo,3646.0,64.0,40,0,11/12/2020
14463,Yolo,3716.0,66.0,70,2,11/13/2020
14464,Yolo,3765.0,66.0,49,0,11/14/2020

In [14]:
#GB=df_county_clean.groupby([(df_county_clean.index.date),(df_county_clean.index.month)]).sum()

In [15]:
new_cases_df = df_county_clean["newcountconfirmed"].sum()
new_cases_df

1019345

In [16]:
df_santa_clara = df_county_clean[df_county_clean["county"] == "Santa Clara"]
df_santa_clara.head(50)

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,3/18/2020
1,Santa Clara,183.0,8.0,32,2,3/19/2020
2,Santa Clara,246.0,8.0,63,0,3/20/2020
3,Santa Clara,269.0,10.0,23,2,3/21/2020
4,Santa Clara,284.0,13.0,15,3,3/22/2020
5,Santa Clara,336.0,13.0,52,0,3/23/2020
6,Santa Clara,389.0,17.0,53,4,3/24/2020
7,Santa Clara,452.0,20.0,63,3,3/25/2020
8,Santa Clara,487.0,20.0,35,0,3/26/2020
9,Santa Clara,557.0,25.0,70,5,3/27/2020
10,Santa Clara,587.0,27.0,30,2,3/28/2020
11,Santa Clara,591.0,30.0,4,3,3/29/2020
12,Santa Clara,745.0,31.0,154,1,3/30/2020
13,Santa Clara,777.0,30.0,32,-1,3/31/2020
14,Santa Clara,805.0,33.0,28,3,4/1/2020
15,Santa Clara,908.0,38.0,103,5,4/2/2020
16,Santa Clara,983.0,39.0,75,1,4/3/2020
17,Santa Clara,1045.0,39.0,62,0,4/4/2020
18,Santa Clara,1052.0,42.0,7,3,4/5/2020
19,Santa Clara,1128.0,43.0,76,1,4/6/2020
20,Santa Clara,1193.0,46.0,65,3,4/7/2020
21,Santa Clara,1257.0,47.0,64,1,4/8/2020
22,Santa Clara,1301.0,49.0,44,2,4/9/2020
23,Santa Clara,1351.0,52.0,50,3,4/10/2020
24,Santa Clara,1441.0,52.0,90,0,4/11/2020
25,Santa Clara,1461.0,53.0,20,1,4/12/2020
26,Santa Clara,1542.0,60.0,81,7,4/13/2020
27,Santa Clara,1561.0,66.0,19,6,4/14/2020
28,Santa Clara,1692.0,66.0,131,0,4/15/2020
29,Santa Clara,1789.0,69.0,97,3,4/16/2020
30,Santa Clara,1834.0,73.0,45,4,4/17/2020
31,Santa Clara,1862.0,73.0,28,0,4/18/2020
32,Santa Clara,1878.0,79.0,16,6,4/19/2020
33,Santa Clara,1920.0,83.0,42,4,4/20/2020
34,Santa Clara,1943.0,88.0,23,5,4/21/2020
35,Santa Clara,1969.0,94.0,26,6,4/22/2020
36,Santa Clara,1996.0,95.0,27,1,4/23/2020
37,Santa Clara,2026.0,98.0,30,3,4/24/2020
38,Santa Clara,2045.0,99.0,19,1,4/25/2020
39,Santa Clara,2097.0,102.0,52,3,4/26/2020
40,Santa Clara,2104.0,105.0,7,3,4/27/2020
41,Santa Clara,2130.0,106.0,26,1,4/28/2020
42,Santa Clara,2147.0,108.0,17,2,4/29/2020
43,Santa Clara,2172.0,111.0,25,3,4/30/2020
44,Santa Clara,2176.0,113.0,4,2,5/1/2020
45,Santa Clara,2203.0,115.0,27,2,5/2/2020
46,Santa Clara,2235.0,116.0,32,1,5/3/2020
47,Santa Clara,2238.0,119.0,3,3,5/4/2020
48,Santa Clara,2249.0,123.0,11,4,5/5/2020
49,Santa Clara,2270.0,126.0,21,3,5/6/2020

In [17]:
df_by_age = pd.read_csv("case_demographics_age.csv")
df_by_age

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
0,0-17,120,4/2/2020,NaN,NaN,NaN,NaN
1,18-49,5302,4/2/2020,NaN,NaN,NaN,NaN
2,50-64,2879,4/2/2020,NaN,NaN,NaN,NaN
3,65 and Older,2342,4/2/2020,NaN,NaN,NaN,NaN
4,Unknown,58,4/2/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1130,0-17,111029,11/14/2020,10.9,2.0,0.0,22.5
1131,18-49,608738,11/14/2020,59.7,1325.0,7.2,43.5
1132,50-64,191565,11/14/2020,18.8,3498.0,19.1,18.4
1133,65+,107074,11/14/2020,10.5,13476.0,73.6,15.6
1134,Missing,939,11/14/2020,0.1,1.0,0.0,0.0

In [18]:
df_by_age.sample(50)

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
1053,65+,97247,10/29/2020,10.6,12936.0,73.7,15.6
702,50-64,123591,8/20/2020,19.0,2142.0,18.5,18.4
175,0-17,2181,5/7/2020,3.5,0.0,0.0,22.5
181,18-49,32004,5/8/2020,49.6,156.0,6.1,43.5
727,50-64,128929,8/25/2020,19.0,2247.0,18.5,18.4
1123,65+,105031,11/12/2020,10.5,13375.0,73.6,15.6
378,65+,25109,6/15/2020,16.4,3892.0,77.8,15.6
561,18-49,262780,7/23/2020,60.4,547.0,6.8,43.5
829,Missing,912,9/14/2020,0.1,1.0,0.0,0.0
1051,18-49,547963,10/29/2020,59.8,1258.0,7.2,43.5
79,Unknown,67,4/17/2020,NaN,NaN,NaN,NaN
396,18-49,95513,6/20/2020,54.9,326.0,6.0,43.5
790,0-17,75198,9/7/2020,10.2,3.0,0.0,22.5
420,0-17,15449,6/25/2020,7.7,0.0,0.0,22.5
99,Unknown,67,4/21/2020,NaN,NaN,NaN,NaN
222,50-64,19365,5/16/2020,24.6,475.0,14.9,18.4
679,Missing,866,8/15/2020,0.1,4.0,0.0,0.0
724,Missing,929,8/24/2020,0.1,3.0,0.0,0.0
581,18-49,282008,7/27/2020,60.4,589.0,7.0,43.5
223,65+,16489,5/16/2020,20.9,2516.0,79.1,15.6
722,50-64,127847,8/24/2020,19.0,2213.0,18.4,18.4
202,50-64,17701,5/12/2020,24.9,440.0,15.5,18.4
508,65+,40473,7/12/2020,12.3,5367.0,76.5,15.6
39,Unknown,52,4/9/2020,NaN,NaN,NaN,NaN
47,50-64,5941,4/11/2020,NaN,NaN,NaN,NaN
432,50-64,44383,6/27/2020,21.1,954.0,16.4,18.4
606,18-49,308114,8/1/2020,60.5,666.0,7.2,43.5
526,18-49,219485,7/16/2020,59.9,484.0,6.5,43.5
775,0-17,73915,9/4/2020,10.2,3.0,0.0,22.5
390,0-17,12441,6/19/2020,7.3,0.0,0.0,22.5
68,65 and Older,6051,4/15/2020,NaN,NaN,NaN,NaN
199,Unknown,93,5/11/2020,0.1,1.0,0.0,0.0
675,0-17,60630,8/15/2020,9.8,1.0,0.0,22.5
644,Missing,748,8/8/2020,0.1,2.0,0.0,0.0
760,0-17,72271,9/1/2020,10.1,3.0,0.0,22.5
301,18-49,52555,5/27/2020,51.7,218.0,5.7,43.5
353,65+,23154,6/8/2020,17.3,3564.0,78.2,15.6
478,65+,35957,7/6/2020,12.9,4916.0,77.3,15.6
502,50-64,63696,7/11/2020,19.9,1187.0,17.0,18.4
379,Missing,205,6/15/2020,0.1,1.0,0.0,0.0
904,Missing,889,9/29/2020,0.1,0.0,0.0,0.0
615,0-17,47920,8/3/2020,9.2,1.0,0.0,22.5
840,0-17,78946,9/17/2020,10.3,3.0,0.0,22.5
595,0-17,44793,7/30/2020,9.1,0.0,0.0,22.5
624,Missing,656,8/4/2020,0.1,1.0,0.0,0.0
1042,50-64,171333,10/27/2020,18.9,3332.0,19.1,18.4
297,50-64,23633,5/26/2020,23.9,564.0,15.2,18.4
1010,0-17,93249,10/21/2020,10.6,2.0,0.0,22.5
1055,0-17,98615,10/30/2020,10.7,2.0,0.0,22.5
1016,18-49,530359,10/22/2020,59.8,1229.0,7.2,43.5

In [19]:
df_age_clean=df_by_age.dropna()

In [20]:
df_age_clean.head(50)

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
100,0-17,855,4/22/2020,2.29,0.0,0.00,22.49
101,18-49,18004,4/22/2020,48.18,99.0,7.09,43.52
102,50-64,10025,4/22/2020,26.83,223.0,15.97,18.42
103,65 and Older,8401,4/22/2020,22.48,1074.0,76.93,15.57
105,0-17,936,4/23/2020,2.38,0.0,0.00,22.49
106,18-49,18954,4/23/2020,48.29,107.0,7.19,43.52
107,50-64,10451,4/23/2020,26.62,234.0,15.71,18.42
108,65 and Older,8832,4/23/2020,22.50,1148.0,77.10,15.57
110,0-17,1011,4/24/2020,2.46,0.0,0.00,22.49
111,18-49,19897,4/24/2020,48.37,112.0,7.12,43.52
112,50-64,10885,4/24/2020,26.46,246.0,15.64,18.42
113,65 and Older,9256,4/24/2020,22.50,1215.0,77.24,15.57
115,0-17,1039,4/25/2020,2.46,0.0,0.00,22.49
116,18-49,20379,4/25/2020,48.33,117.0,7.10,43.52
117,50-64,11139,4/25/2020,26.42,254.0,15.42,18.42
118,65 and Older,9512,4/25/2020,22.56,1276.0,77.47,15.57
120,0-17,1085,4/26/2020,2.50,0.0,0.00,22.49
121,18-49,21028,4/26/2020,48.38,119.0,7.10,43.52
122,50-64,11442,4/26/2020,26.33,258.0,15.39,18.42
123,65 and Older,9824,4/26/2020,22.60,1299.0,77.51,15.57
125,0-17,1190,4/27/2020,2.64,0.0,0.00,22.49
126,18-49,21888,4/27/2020,48.61,120.0,6.97,43.52
127,50-64,11781,4/27/2020,26.16,265.0,15.40,18.42
128,65 and Older,10086,4/27/2020,22.40,1336.0,77.63,15.57
130,0-17,1263,4/28/2020,2.72,0.0,0.00,22.49
131,18-49,22596,4/28/2020,48.59,126.0,6.97,43.52
132,50-64,12153,4/28/2020,26.14,284.0,15.70,18.42
133,65+,10413,4/28/2020,22.39,1399.0,77.34,15.57
135,0-17,1398,4/29/2020,2.86,0.0,0.00,22.49
136,18-49,23836,4/29/2020,48.73,131.0,6.93,43.52
137,50-64,12705,4/29/2020,25.97,292.0,15.45,18.42
138,65+,10906,4/29/2020,22.29,1467.0,77.62,15.57
140,0-17,1449,4/30/2020,2.90,0.0,0.00,22.49
141,18-49,24613,4/30/2020,48.80,137.0,6.90,43.52
142,50-64,13044,4/30/2020,25.90,308.0,15.50,18.42
143,65+,11256,4/30/2020,22.30,1543.0,77.60,15.57
145,0-17,1566,5/1/2020,3.00,0.0,0.00,22.49
146,18-49,25548,5/1/2020,48.95,139.0,6.67,43.52
147,50-64,13454,5/1/2020,25.78,322.0,15.46,18.42
148,65+,11547,5/1/2020,22.12,1622.0,77.87,15.57
150,0-17,1640,5/2/2020,3.10,0.0,0.00,22.50
151,18-49,26256,5/2/2020,49.00,139.0,6.50,43.50
152,50-64,13773,5/2/2020,25.70,331.0,15.50,18.40
153,65+,11860,5/2/2020,22.10,1668.0,78.00,15.60
154,Unknown,87,5/2/2020,0.20,0.0,0.00,0.00
155,0-17,1715,5/3/2020,3.12,0.0,0.00,22.50
156,18-49,26956,5/3/2020,49.07,139.0,6.38,43.50
157,50-64,14078,5/3/2020,25.63,335.0,15.38,18.40
158,65+,12098,5/3/2020,22.02,1704.0,78.24,15.60
159,Unknown,90,5/3/2020,0.16,0.0,0.00,0.00

In [21]:
df_age_group_index = df_age_clean.set_index(["age_group"])
df_age_group_index.head()

,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
age_group,,,,,,
0-17,855,4/22/2020,2.29,0.0,0.00,22.49
18-49,18004,4/22/2020,48.18,99.0,7.09,43.52
50-64,10025,4/22/2020,26.83,223.0,15.97,18.42
65 and Older,8401,4/22/2020,22.48,1074.0,76.93,15.57
0-17,936,4/23/2020,2.38,0.0,0.00,22.49

In [22]:
df_age_clean2 = df_age_group_index.drop(["Missing", "Unknown"])
df_age_clean2

,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
age_group,,,,,,
0-17,855,4/22/2020,2.29,0.0,0.00,22.49
18-49,18004,4/22/2020,48.18,99.0,7.09,43.52
50-64,10025,4/22/2020,26.83,223.0,15.97,18.42
65 and Older,8401,4/22/2020,22.48,1074.0,76.93,15.57
0-17,936,4/23/2020,2.38,0.0,0.00,22.49
...,...,...,...,...,...,...
65+,106013,11/13/2020,10.50,13426.0,73.60,15.60
0-17,111029,11/14/2020,10.90,2.0,0.00,22.50
18-49,608738,11/14/2020,59.70,1325.0,7.20,43.50
50-64,191565,11/14/2020,18.80,3498.0,19.10,18.40
65+,107074,11/14/2020,10.50,13476.0,73.60,15.60

In [23]:
df_age_total_positive=df_age_clean.groupby("age_group")["totalpositive"].sum()
df_age_total_positive

age_group
0-17             9970423
18-49           60425975
50-64           19625640
65 and Older       55911
65+             11499683
Missing           112405
Unknown             3536
Name: totalpositive, dtype: int64

In [24]:
df_age_death=df_age_clean.groupby("age_group")["deaths"].count()
df_age_death

age_group
0-17            207
18-49           207
50-64           207
65 and Older      6
65+             201
Missing         167
Unknown          30
Name: deaths, dtype: int64

In [25]:
df_by_sex = pd.read_csv("case_demographics_sex.csv")
df_by_sex

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,4/2/2020,NaN,NaN,NaN,NaN
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
2,Unknown,139,4/2/2020,NaN,NaN,NaN,NaN
3,Female,5674,4/3/2020,NaN,NaN,NaN,NaN
4,Male,6202,4/3/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
680,Male,490387,11/13/2020,48.6,10426.0,57.2,49.7
681,Unknown,7821,11/13/2020,0.8,31.0,0.2,0.0
682,Female,515924,11/14/2020,50.6,7804.0,42.6,50.3
683,Male,495550,11/14/2020,48.6,10466.0,57.2,49.7
684,Unknown,7871,11/14/2020,0.8,32.0,0.2,0.0

In [26]:
df_by_sex("sex")["Transgender"].value_counts()

TypeError: 'DataFrame' object is not callable

In [27]:
df_by_sex.sample(50)

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
477,Unknown,6555,9/6/2020,0.90,23.0,0.20,0.00
171,Unknown,539,5/27/2020,0.50,5.0,0.10,0.00
158,Male,46595,5/23/2020,50.30,2033.0,55.80,49.70
140,Male,40533,5/17/2020,50.40,1800.0,56.00,49.70
144,Unknown,476,5/18/2020,0.60,4.0,0.10,0.00
29,Male,10330,4/10/2020,NaN,NaN,NaN,NaN
631,Female,461383,10/28/2020,50.50,7475.0,42.70,50.30
155,Male,45580,5/22/2020,50.30,2000.0,55.70,49.70
26,Male,10330,4/10/2020,NaN,NaN,NaN,NaN
222,Unknown,672,6/13/2020,0.50,5.0,0.10,0.00
340,Female,212405,7/22/2020,49.90,3409.0,42.90,50.30
39,Unknown,214,4/13/2020,NaN,NaN,NaN,NaN
8,Unknown,213,4/4/2020,NaN,NaN,NaN,NaN
28,Female,9981,4/10/2020,NaN,NaN,NaN,NaN
111,Unknown,429,5/7/2020,0.70,5.0,0.20,0.00
554,Male,399431,10/2/2020,48.70,9106.0,57.20,49.70
642,Unknown,7260,10/31/2020,0.80,31.0,0.20,0.00
282,Unknown,1196,7/2/2020,0.50,8.0,0.10,0.00
175,Female,52561,5/29/2020,49.20,1759.0,44.10,50.30
391,Female,281543,8/9/2020,50.10,4363.0,42.60,50.30
681,Unknown,7821,11/13/2020,0.80,31.0,0.20,0.00
215,Male,71605,6/11/2020,50.40,2700.0,55.90,49.70
660,Unknown,7494,11/6/2020,0.80,31.0,0.20,0.00
248,Male,89690,6/21/2020,50.40,3047.0,56.20,49.70
285,Unknown,1268,7/3/2020,0.50,8.0,0.10,0.00
408,Unknown,6605,8/14/2020,1.10,17.0,0.20,0.00
260,Male,101070,6/25/2020,50.40,3210.0,56.10,49.70
469,Female,367462,9/4/2020,50.50,5699.0,42.30,50.30
416,Male,307821,8/17/2020,48.70,6402.0,57.40,49.70
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
337,Female,206176,7/21/2020,49.90,3346.0,42.90,50.30
666,Unknown,7614,11/8/2020,0.80,31.0,0.20,0.00
70,Female,20395,4/24/2020,49.58,625.0,39.73,50.31
153,Unknown,638,5/21/2020,0.70,4.0,0.10,0.00
657,Unknown,7456,11/5/2020,0.80,31.0,0.20,0.00
517,Female,394632,9/20/2020,50.50,6329.0,42.60,50.30
208,Female,66889,6/9/2020,49.10,2047.0,43.90,50.30
669,Unknown,7635,11/9/2020,0.80,31.0,0.20,0.00
444,Unknown,6696,8/26/2020,1.00,21.0,0.20,0.00
600,Unknown,6907,10/17/2020,0.80,30.0,0.20,0.00
355,Female,233477,7/27/2020,50.00,3607.0,42.80,50.30
610,Female,444925,10/21/2020,50.50,7327.0,42.80,50.30
60,Unknown,257,4/20/2020,NaN,NaN,NaN,NaN
556,Female,415440,10/3/2020,50.40,6821.0,42.60,50.30
440,Male,330194,8/25/2020,48.60,6998.0,57.60,49.70
102,Unknown,379,5/4/2020,0.70,5.0,0.20,0.00
151,Female,43272,5/21/2020,48.90,1562.0,44.10,50.30
199,Female,63173,6/6/2020,49.00,1979.0,44.00,50.30
548,Male,396552,9/30/2020,48.70,8997.0,57.10,49.70
650,Male,457423,11/3/2020,48.70,10166.0,57.20,49.70

In [28]:
clean_sex_df = df_by_sex.dropna()
clean_sex_df

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
64,Female,18395,4/22/2020,49.23,552.0,39.54,50.31
65,Male,18690,4/22/2020,50.01,839.0,60.10,49.69
67,Female,19394,4/23/2020,49.41,593.0,39.82,50.31
68,Male,19577,4/23/2020,49.87,891.0,59.84,49.69
70,Female,20395,4/24/2020,49.58,625.0,39.73,50.31
...,...,...,...,...,...,...,...
680,Male,490387,11/13/2020,48.60,10426.0,57.20,49.70
681,Unknown,7821,11/13/2020,0.80,31.0,0.20,0.00
682,Female,515924,11/14/2020,50.60,7804.0,42.60,50.30
683,Male,495550,11/14/2020,48.60,10466.0,57.20,49.70
684,Unknown,7871,11/14/2020,0.80,32.0,0.20,0.00

In [44]:
value_counts_sex_df = clean_sex_df.groupby("sex")["totalpositive2"].max()
value_counts_sex_df

sex
Female     515924
Male       495550
Unknown      7871
Name: totalpositive2, dtype: int64

In [60]:
Sex_values_df = pd.DataFrame({"totalpositive2": value_counts_sex_df})
Sex_values_df

         totalpositive2
sex
Female           515924
Male             495550
Unknown            7871

In [67]:
lastest_total_df= clean_sex_df.loc[(clean_sex_df['sex'] == Sex_values_df['totalpositive2'])]
lastest_total_df

ValueError: Can only compare identically-labeled DataFrame objects

In [ ]:
clean_sex_df["sex"].value_counts()

In [ ]:
df_by_ethnic = pd.read_csv("case_demographics_ethnicity.csv")
df_by_ethnic

In [ ]:
df_by_ethnic.sample(50)

In [ ]:
df_by_ethnic.dropna()

In [ ]:
df_unemployment = pd.read_csv("Unemployment_Rate_by_Age_Groups.csv")
df_unemployment

In [ ]:
df_unemployment.sample(50)

In [ ]:
df_unemployment.dropna()

In [ ]:
df_homeless = pd.read_csv("homeless_impact.csv")
df_homeless

In [ ]:
df_homeless.sample(50)

In [ ]:
df_juvenile_facilities = pd.read_csv('juvenile_facilities_covid19.csv')
df_juvenile_facilities

In [ ]:
df_juvenile_facilities.sample(50)
#elimanate optional column

In [ ]:
df_adult_facilities = pd.read_csv('adult_facilities_covid19.csv')
df_adult_facilities

In [ ]:
df_adult_facilities.sample(50)