In [10]:
# Import all the packages
import pandas as pd
import matplotlib as plt
import scipy as sts
import numpy as np
import requests
import json
np.random.seed(0)

In [2]:
df_by_county = pd.read_csv("statewide_cases.csv")
df_by_county

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,3/18/2020
1,Santa Clara,183.0,8.0,32,2,3/19/2020
2,Santa Clara,246.0,8.0,63,0,3/20/2020
3,Santa Clara,269.0,10.0,23,2,3/21/2020
4,Santa Clara,284.0,13.0,15,3,3/22/2020
...,...,...,...,...,...,...
14460,Yolo,3573.0,64.0,51,1,11/10/2020
14461,Yolo,3606.0,64.0,33,0,11/11/2020
14462,Yolo,3646.0,64.0,40,0,11/12/2020
14463,Yolo,3716.0,66.0,70,2,11/13/2020
14464,Yolo,3765.0,66.0,49,0,11/14/2020

In [17]:
df_by_county_unique=df_by_county["county"].nunique()
df_by_county_unique

60

In [18]:
df_by_county.sample(60)

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
7431,Lake,465.0,10.0,7,0,9/19/2020
3855,Nevada,741.0,9.0,7,0,11/11/2020
12049,Unassigned,59.0,1.0,5,1,3/22/2020
6295,Sonoma,84.0,1.0,8,0,4/3/2020
13727,Plumas,86.0,0.0,0,0,11/3/2020
6881,Lassen,263.0,0.0,26,0,7/14/2020
1656,San Luis Obispo,3810.0,31.0,25,0,10/9/2020
9703,Madera,127.0,3.0,10,0,6/4/2020
12941,San Bernardino,48497.0,744.0,332,0,9/4/2020
8140,San Benito,1257.0,11.0,5,1,9/18/2020
265,San Mateo,642.0,21.0,12,-2,4/10/2020
2626,San Francisco,11659.0,123.0,-4,0,10/11/2020
1837,Solano,3954.0,40.0,65,0,8/9/2020
3581,Alpine,3.0,0.0,0,0,10/10/2020
2538,San Francisco,4757.0,50.0,98,0,7/15/2020
10589,Napa,2365.0,17.0,24,0,11/11/2020
13772,Amador,7.0,0.0,0,0,4/20/2020
2145,Monterey,10616.0,81.0,42,0,10/14/2020
10659,Los Angeles,44029.0,2090.0,1004,41,5/23/2020
3136,Mono,308.0,2.0,1,0,11/6/2020
7108,Colusa,33.0,0.0,9,0,6/29/2020
3075,Mono,145.0,2.0,0,0,9/6/2020
12634,Del Norte,50.0,0.0,1,0,7/1/2020
8189,San Benito,1479.0,15.0,2,0,11/6/2020
6443,Sonoma,5537.0,78.0,112,0,8/29/2020
6401,Sonoma,2019.0,19.0,37,0,7/18/2020
1936,Monterey,3.0,0.0,2,0,3/19/2020
3584,Alpine,3.0,0.0,0,0,10/13/2020
2464,San Francisco,1632.0,29.0,80,0,5/2/2020
1781,Solano,638.0,23.0,1,0,6/14/2020
4448,Mendocino,70.0,0.0,2,0,7/1/2020
9362,Glenn,652.0,3.0,2,0,10/25/2020
10737,Los Angeles,208810.0,4977.0,1839,10,8/9/2020
10947,Sacramento,4799.0,78.0,207,2,7/8/2020
505,Santa Barbara,221.0,2.0,12,0,4/8/2020
1779,Solano,620.0,23.0,4,0,6/12/2020
5759,Trinity,19.0,0.0,-6,0,10/10/2020
10298,Sutter,1646.0,11.0,8,1,9/23/2020
2675,Orange,579.0,11.0,73,4,4/1/2020
8998,Out Of Country,0.0,0.0,0,0,6/25/2020
13533,Plumas,4.0,0.0,0,0,4/23/2020
5391,Ventura,1303.0,35.0,29,0,6/6/2020
13654,Plumas,37.0,0.0,1,0,8/22/2020
2822,Orange,46157.0,918.0,420,6,8/26/2020
8637,Marin,6710.0,119.0,10,0,10/1/2020
2634,San Francisco,11879.0,133.0,1,0,10/19/2020
12099,Unassigned,3.0,0.0,1,0,5/11/2020
11496,Kings,6770.0,77.0,31,1,9/11/2020
7486,Lake,770.0,17.0,6,0,11/13/2020
2173,Monterey,12417.0,103.0,82,1,11/11/2020
12025,Riverside,66475.0,1295.0,283,16,10/26/2020
1765,Solano,498.0,22.0,9,0,5/29/2020
2794,Orange,35339.0,587.0,507,6,7/29/2020
11866,Riverside,6090.0,283.0,127,9,5/20/2020
11827,Riverside,1260.0,38.0,98,0,4/11/2020
6355,Sonoma,571.0,4.0,6,0,6/2/2020
10120,Sutter,6.0,0.0,3,0,3/29/2020
2382,Yuba,1129.0,10.0,3,0,10/9/2020
3511,Alpine,2.0,0.0,0,0,8/1/2020
11812,Riverside,121.0,7.0,3,0,3/27/2020

In [3]:
df_by_age = pd.read_csv("case_demographics_age.csv")
df_by_age

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
0,0-17,120,4/2/2020,NaN,NaN,NaN,NaN
1,18-49,5302,4/2/2020,NaN,NaN,NaN,NaN
2,50-64,2879,4/2/2020,NaN,NaN,NaN,NaN
3,65 and Older,2342,4/2/2020,NaN,NaN,NaN,NaN
4,Unknown,58,4/2/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1130,0-17,111029,11/14/2020,10.9,2.0,0.0,22.5
1131,18-49,608738,11/14/2020,59.7,1325.0,7.2,43.5
1132,50-64,191565,11/14/2020,18.8,3498.0,19.1,18.4
1133,65+,107074,11/14/2020,10.5,13476.0,73.6,15.6
1134,Missing,939,11/14/2020,0.1,1.0,0.0,0.0

In [19]:
df_by_age.sample(50)

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
524,Missing,404,7/15/2020,0.10,0.0,0.00,0.00
690,0-17,63118,8/18/2020,9.90,1.0,0.00,22.50
895,0-17,83695,9/28/2020,10.40,2.0,0.00,22.50
614,Missing,708,8/2/2020,0.10,1.0,0.00,0.00
518,65+,42007,7/14/2020,12.10,5478.0,76.50,15.60
884,Missing,889,9/25/2020,0.10,0.0,0.00,0.00
1087,50-64,179365,11/5/2020,18.90,3409.0,19.00,18.40
43,65 and Older,4561,4/10/2020,NaN,NaN,NaN,NaN
86,18-49,14690,4/19/2020,NaN,NaN,NaN,NaN
485,0-17,24556,7/8/2020,8.30,0.0,0.00,22.50
254,Unknown,106,5/17/2020,0.10,0.0,0.00,0.00
294,Unknown,135,5/25/2020,0.10,0.0,0.00,0.00
995,0-17,91935,10/18/2020,10.60,2.0,0.00,22.50
767,50-64,135797,9/2/2020,18.90,2438.0,18.60,18.40
131,18-49,22596,4/28/2020,48.59,126.0,6.97,43.52
297,50-64,23633,5/26/2020,23.90,564.0,15.20,18.40
1004,Missing,861,10/19/2020,0.10,1.0,0.00,0.00
1023,65+,94882,10/23/2020,10.60,12709.0,73.80,15.60
728,65+,72988,8/25/2020,10.70,9027.0,74.20,15.60
82,50-64,8232,4/18/2020,NaN,NaN,NaN,NaN
479,Missing,311,7/6/2020,0.10,1.0,0.00,0.00
404,Missing,188,6/21/2020,0.10,1.0,0.00,0.00
1091,18-49,571373,11/6/2020,59.70,1300.0,7.20,43.50
806,18-49,447876,9/10/2020,60.00,1004.0,7.20,43.50
150,0-17,1640,5/2/2020,3.10,0.0,0.00,22.50
286,18-49,48364,5/24/2020,51.10,206.0,5.60,43.50
783,65+,78740,9/5/2020,10.80,10065.0,74.10,15.60
68,65 and Older,6051,4/15/2020,NaN,NaN,NaN,NaN
643,65+,60829,8/8/2020,11.00,7587.0,74.60,15.60
201,18-49,35567,5/12/2020,50.00,169.0,5.90,43.50
546,18-49,241406,7/20/2020,60.20,508.0,6.60,43.50
14,Unknown,49,4/4/2020,NaN,NaN,NaN,NaN
1115,0-17,107582,11/11/2020,10.80,2.0,0.00,22.50
842,50-64,145439,9/17/2020,18.90,2783.0,19.00,18.40
517,50-64,68493,7/14/2020,19.70,1220.0,17.00,18.40
276,18-49,46131,5/22/2020,50.90,203.0,5.70,43.50
285,0-17,4633,5/24/2020,4.90,0.0,0.00,22.50
603,65+,55360,7/31/2020,11.10,6851.0,75.30,15.60
515,0-17,29156,7/14/2020,8.40,0.0,0.00,22.50
351,18-49,71233,6/8/2020,53.40,274.0,6.00,43.50
242,0-17,7947,6/6/2020,6.20,0.0,0.00,22.50
553,65+,47673,7/21/2020,11.50,5940.0,76.20,15.60
320,0-17,6488,5/31/2020,5.70,0.0,0.00,22.50
785,0-17,74886,9/6/2020,10.20,3.0,0.00,22.50
410,0-17,14524,6/23/2020,7.60,0.0,0.00,22.50
1021,18-49,533822,10/23/2020,59.80,1229.0,7.10,43.50
765,0-17,72822,9/2/2020,10.20,3.0,0.00,22.50
716,18-49,401960,8/23/2020,60.10,868.0,7.30,43.50
987,50-64,163077,10/16/2020,18.90,3216.0,19.20,18.40
159,Unknown,90,5/3/2020,0.16,0.0,0.00,0.00

In [20]:
df_by_age.dropna()

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
100,0-17,855,4/22/2020,2.29,0.0,0.00,22.49
101,18-49,18004,4/22/2020,48.18,99.0,7.09,43.52
102,50-64,10025,4/22/2020,26.83,223.0,15.97,18.42
103,65 and Older,8401,4/22/2020,22.48,1074.0,76.93,15.57
105,0-17,936,4/23/2020,2.38,0.0,0.00,22.49
...,...,...,...,...,...,...,...
1130,0-17,111029,11/14/2020,10.90,2.0,0.00,22.50
1131,18-49,608738,11/14/2020,59.70,1325.0,7.20,43.50
1132,50-64,191565,11/14/2020,18.80,3498.0,19.10,18.40
1133,65+,107074,11/14/2020,10.50,13476.0,73.60,15.60
1134,Missing,939,11/14/2020,0.10,1.0,0.00,0.00

In [4]:
df_by_sex = pd.read_csv("case_demographics_sex.csv")
df_by_sex

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,4/2/2020,NaN,NaN,NaN,NaN
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
2,Unknown,139,4/2/2020,NaN,NaN,NaN,NaN
3,Female,5674,4/3/2020,NaN,NaN,NaN,NaN
4,Male,6202,4/3/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
680,Male,490387,11/13/2020,48.6,10426.0,57.2,49.7
681,Unknown,7821,11/13/2020,0.8,31.0,0.2,0.0
682,Female,515924,11/14/2020,50.6,7804.0,42.6,50.3
683,Male,495550,11/14/2020,48.6,10466.0,57.2,49.7
684,Unknown,7871,11/14/2020,0.8,32.0,0.2,0.0

In [21]:
df_by_sex.sample(50)

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
470,Male,353245,9/4/2020,48.6,7746.0,57.5,49.7
422,Male,313639,8/19/2020,48.6,6594.0,57.5,49.7
25,Female,9981,4/10/2020,NaN,NaN,NaN,NaN
47,Male,13865,4/16/2020,NaN,NaN,NaN,NaN
432,Unknown,6830,8/22/2020,1.0,18.0,0.2,0.0
377,Male,254274,8/3/2020,49.0,5336.0,57.1,49.7
18,Female,8776,4/8/2020,NaN,NaN,NaN,NaN
479,Male,358617,9/7/2020,48.6,7841.0,57.5,49.7
398,Male,285476,8/11/2020,48.7,6012.0,57.3,49.7
553,Female,413300,10/2/2020,50.4,6795.0,42.7,50.3
650,Male,457423,11/3/2020,48.7,10166.0,57.2,49.7
514,Female,392944,9/19/2020,50.5,6320.0,42.6,50.3
637,Female,466008,10/30/2020,50.5,7506.0,42.6,50.3
318,Unknown,1892,7/14/2020,0.5,9.0,0.1,0.0
605,Male,425648,10/19/2020,48.7,9640.0,57.0,49.7
420,Unknown,6890,8/18/2020,1.1,15.0,0.1,0.0
486,Unknown,6560,9/9/2020,0.9,23.0,0.2,0.0
488,Male,362679,9/10/2020,48.6,8012.0,57.4,49.7
213,Unknown,639,6/10/2020,0.5,6.0,0.1,0.0
602,Male,424039,10/18/2020,48.7,9634.0,57.0,49.7
22,Female,9387,4/9/2020,NaN,NaN,NaN,NaN
670,Female,497954,11/10/2020,50.6,7722.0,42.7,50.3
446,Male,334946,8/27/2020,48.6,7166.0,57.5,49.7
238,Female,81326,6/18/2020,49.2,2307.0,43.9,50.3
90,Unknown,302,4/30/2020,0.6,5.0,0.3,NaN
347,Male,220392,7/24/2020,49.5,4708.0,57.1,49.7
666,Unknown,7614,11/8/2020,0.8,31.0,0.2,0.0
332,Male,194780,7/19/2020,49.7,4351.0,56.9,49.7
27,Unknown,304,4/10/2020,NaN,NaN,NaN,NaN
56,Male,15507,4/19/2020,NaN,NaN,NaN,NaN
681,Unknown,7821,11/13/2020,0.8,31.0,0.2,0.0
181,Female,55605,5/31/2020,49.2,1797.0,44.0,50.3
336,Unknown,2111,7/20/2020,0.5,10.0,0.1,0.0
21,Unknown,401,4/8/2020,NaN,NaN,NaN,NaN
305,Male,156397,7/10/2020,50.1,3895.0,56.5,49.7
415,Female,317984,8/17/2020,50.3,4728.0,42.4,50.3
180,Unknown,560,5/30/2020,0.5,6.0,0.1,0.0
259,Female,98564,6/25/2020,49.2,2500.0,43.7,50.3
597,Unknown,6913,10/16/2020,0.8,30.0,0.2,0.0
258,Unknown,785,6/24/2020,0.4,7.0,0.1,0.0
137,Male,39701,5/16/2020,50.4,1778.0,55.9,49.7
43,Female,12771,4/15/2020,NaN,NaN,NaN,NaN
201,Unknown,615,6/6/2020,0.5,6.0,0.1,0.0
55,Female,15224,4/19/2020,NaN,NaN,NaN,NaN
396,Unknown,6620,8/10/2020,1.2,15.0,0.1,0.0
381,Unknown,6088,8/4/2020,1.2,14.0,0.1,0.0
390,Unknown,6109,8/8/2020,1.1,14.0,0.1,0.0
256,Female,96068,6/24/2020,49.1,2445.0,43.6,50.3
680,Male,490387,11/13/2020,48.6,10426.0,57.2,49.7
190,Female,58886,6/3/2020,49.2,1894.0,44.1,50.3

In [22]:
df_by_sex.dropna()

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
64,Female,18395,4/22/2020,49.23,552.0,39.54,50.31
65,Male,18690,4/22/2020,50.01,839.0,60.10,49.69
67,Female,19394,4/23/2020,49.41,593.0,39.82,50.31
68,Male,19577,4/23/2020,49.87,891.0,59.84,49.69
70,Female,20395,4/24/2020,49.58,625.0,39.73,50.31
...,...,...,...,...,...,...,...
680,Male,490387,11/13/2020,48.60,10426.0,57.20,49.70
681,Unknown,7821,11/13/2020,0.80,31.0,0.20,0.00
682,Female,515924,11/14/2020,50.60,7804.0,42.60,50.30
683,Male,495550,11/14/2020,48.60,10466.0,57.20,49.70
684,Unknown,7871,11/14/2020,0.80,32.0,0.20,0.00

In [5]:
df_by_ethnic = pd.read_csv("case_demographics_ethnicity.csv")
df_by_ethnic

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
0,Latino,5276,35.99,170,28.38,38.9,4/13/2020
1,Latino,5910,37.18,203,29.72,38.9,4/14/2020
2,Latino,6433,37.80,226,29.70,38.9,4/15/2020
3,Latino,7013,38.51,254,29.85,38.9,4/16/2020
4,Latino,7627,39.41,281,30.58,38.9,4/17/2020
...,...,...,...,...,...,...,...
1723,Black,30571,4.20,1341,7.40,6.0,11/14/2020
1724,Multi-Race,8786,1.20,153,0.80,2.2,11/14/2020
1725,American Indian or Alaska Native,2126,0.30,61,0.30,0.5,11/14/2020
1726,Native Hawaiian and other Pacific Islander,3923,0.50,86,0.50,0.3,11/14/2020
1727,Other,71047,9.70,85,0.50,0.0,11/14/2020

In [23]:
df_by_ethnic.sample(50)

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
1159,Other,55306,11.300000,156,1.20,0.0,9/4/2020
1520,Latino,377694,61.000000,8185,48.60,38.9,10/20/2020
1315,Black,23493,4.300000,1167,7.70,6.0,9/24/2020
1156,Multi-Race,4650,1.000000,88,0.70,2.2,9/4/2020
841,White,51728,17.500000,2484,30.20,36.6,7/26/2020
660,Multi-Race,1223,0.700000,34,0.60,2.2,7/4/2020
1458,Asian,33260,5.600000,1909,11.70,15.4,10/12/2020
773,American Indian or Alaska Native,550,0.200000,25,0.30,0.5,7/18/2020
984,Latino,235700,58.900000,5098,47.40,38.9,8/14/2020
1663,Other,65757,9.600000,80,0.50,0.0,11/6/2020
1438,Native Hawaiian and other Pacific Islander,3184,0.500000,77,0.50,0.3,10/9/2020
1122,Asian,25585,5.400000,1488,11.80,15.4,8/31/2020
1192,Latino,305364,60.600000,6637,48.50,38.9,9/9/2020
943,Other,47023,12.900000,124,1.20,0.0,8/8/2020
557,American Indian or Alaska Native,229,0.200000,16,0.30,0.5,6/21/2020
1215,Other,55335,10.800000,116,0.80,0.0,9/11/2020
1654,Native Hawaiian and other Pacific Islander,3631,0.500000,84,0.50,0.3,11/5/2020
543,Other,14722,12.300000,45,0.90,0.0,6/19/2020
1367,Other,57167,10.100000,128,0.80,0.0,9/30/2020
1061,American Indian or Alaska Native,1051,0.200000,37,0.30,0.5,8/23/2020
914,Asian,18392,5.400000,1156,12.30,15.4,8/4/2020
504,Latino,61492,56.400000,2004,40.40,38.9,6/15/2020
1282,Asian,29790,5.500000,1720,11.70,15.4,9/20/2020
1139,Black,20440,4.300000,1007,7.80,6.0,9/2/2020
1489,White,105829,17.400000,4998,30.10,36.6,10/16/2020
394,American Indian or Alaska Native,121,0.200000,15,0.40,0.5,5/21/2020
1223,Other,55387,10.700000,110,0.80,0.0,9/12/2020
618,Asian,9976,6.600000,848,14.60,15.4,6/29/2020
629,American Indian or Alaska Native,298,0.200000,22,0.40,0.5,6/30/2020
142,Multiracial,238,0.820000,4,0.24,2.2,4/27/2020
705,White,35378,17.600000,2103,31.20,36.6,7/10/2020
833,White,50967,17.500000,2474,30.20,36.6,7/25/2020
292,Latino,29693,53.400000,1173,37.30,38.9,5/17/2020
1380,Multi-Race,6192,1.100000,109,0.70,2.2,10/2/2020
945,White,62441,17.000000,3011,29.90,36.6,8/9/2020
881,White,55755,17.300000,2667,30.00,36.6,7/31/2020
1585,White,113682,17.600000,5228,30.10,36.6,10/28/2020
283,Native Hawaiian or Pacific Islander,577,0.900000,28,0.80,0.3,5/25/2020
1206,Native Hawaiian and other Pacific Islander,2806,0.600000,61,0.40,0.3,9/10/2020
1038,Native Hawaiian and other Pacific Islander,2445,0.600000,52,0.50,0.3,8/20/2020
255,Other,2734,5.352074,40,1.40,0.0,5/14/2020
405,American Indian or Alaska Native,170,0.200000,14,0.30,0.5,6/1/2020
651,Black,7310,4.300000,572,9.30,6.0,7/3/2020
1437,American Indian or Alaska Native,1637,0.300000,51,0.30,0.5,10/9/2020
440,Other,3388,5.300000,38,1.10,0.0,5/22/2020
1246,Native Hawaiian and other Pacific Islander,2874,0.500000,58,0.40,0.3,9/15/2020
516,Multi-Race,803,0.700000,36,0.70,2.2,6/16/2020
330,White,16114,19.900000,1369,33.70,36.6,6/1/2020
53,White,9724,25.800000,744,34.80,36.6,5/4/2020
514,Asian,8538,7.600000,734,14.60,15.4,6/16/2020

In [24]:
df_by_ethnic.dropna()

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
0,Latino,5276,35.99,170,28.38,38.9,4/13/2020
1,Latino,5910,37.18,203,29.72,38.9,4/14/2020
2,Latino,6433,37.80,226,29.70,38.9,4/15/2020
3,Latino,7013,38.51,254,29.85,38.9,4/16/2020
4,Latino,7627,39.41,281,30.58,38.9,4/17/2020
...,...,...,...,...,...,...,...
1723,Black,30571,4.20,1341,7.40,6.0,11/14/2020
1724,Multi-Race,8786,1.20,153,0.80,2.2,11/14/2020
1725,American Indian or Alaska Native,2126,0.30,61,0.30,0.5,11/14/2020
1726,Native Hawaiian and other Pacific Islander,3923,0.50,86,0.50,0.3,11/14/2020
1727,Other,71047,9.70,85,0.50,0.0,11/14/2020

In [6]:
df_unemployment = pd.read_csv("Unemployment_Rate_by_Age_Groups.csv")
df_unemployment

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
0,California,State,5/1/2019,2019,May,0.2,0.1,0.0,0.0,0.0,0.0,0.0
1,California,State,4/1/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
2,California,State,3/1/2019,2019,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
3,California,State,2/1/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
4,California,State,1/1/2019,2019,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
147,California,State,5/1/2020,2020,May,0.2,0.1,0.1,0.0,0.0,0.0,0.1
148,California,State,6/1/2020,2020,June,0.2,0.1,0.1,0.1,0.1,0.1,0.1
149,California,State,7/1/2020,2020,July,0.2,0.1,0.1,0.1,0.1,0.1,0.1
150,California,State,8/1/2020,2020,August,0.2,0.1,0.1,0.1,0.1,0.1,0.1
151,California,State,9/1/2020,2020,September,0.2,0.1,0.1,0.1,0.1,0.1,0.1

In [25]:
df_unemployment.sample(50)

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
65,California,State,12/1/2013,2013,December,0.3,0.1,0.1,0.1,0.1,0.1,0.1
80,California,State,9/1/2012,2012,September,0.4,0.2,0.1,0.1,0.1,0.1,0.1
46,California,State,7/1/2015,2015,July,0.2,0.1,0.1,0.0,0.0,0.1,0.1
55,California,State,10/1/2014,2014,October,0.3,0.1,0.1,0.1,0.1,0.1,0.1
101,California,State,12/1/2010,2010,December,0.3,0.2,0.1,0.1,0.1,0.1,0.1
58,California,State,7/1/2014,2014,July,0.3,0.1,0.1,0.1,0.1,0.1,0.1
93,California,State,8/1/2011,2011,August,0.3,0.2,0.1,0.1,0.1,0.1,0.1
33,California,State,8/1/2016,2016,August,0.2,0.1,0.1,0.0,0.0,0.0,0.0
78,California,State,11/1/2012,2012,November,0.3,0.2,0.1,0.1,0.1,0.1,0.1
86,California,State,3/1/2012,2012,March,0.4,0.2,0.1,0.1,0.1,0.1,0.1
1,California,State,4/1/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
138,California,State,8/1/2019,2019,August,0.2,0.1,0.0,0.0,0.0,0.0,0.0
83,California,State,6/1/2012,2012,June,0.4,0.2,0.1,0.1,0.1,0.1,0.1
11,California,State,6/1/2018,2018,June,0.2,0.1,0.0,0.0,0.0,0.0,0.0
34,California,State,7/1/2016,2016,July,0.2,0.1,0.1,0.0,0.0,0.0,0.0
45,California,State,8/1/2015,2015,August,0.2,0.1,0.1,0.0,0.0,0.1,0.1
19,California,State,10/1/2017,2017,October,0.2,0.1,0.0,0.0,0.0,0.0,0.0
67,California,State,10/1/2013,2013,October,0.3,0.2,0.1,0.1,0.1,0.1,0.1
62,California,State,3/1/2014,2014,March,0.3,0.1,0.1,0.1,0.1,0.1,0.1
108,California,State,5/1/2010,2010,May,0.3,0.2,0.1,0.1,0.1,0.1,0.1
63,California,State,2/1/2014,2014,February,0.3,0.1,0.1,0.1,0.1,0.1,0.1
25,California,State,4/1/2017,2017,April,0.2,0.1,0.1,0.0,0.0,0.0,0.0
6,California,State,11/1/2018,2018,November,0.2,0.1,0.0,0.0,0.0,0.0,0.0
133,California,State,4/1/2008,2008,April,0.2,0.1,0.1,0.0,0.0,0.0,0.0
139,California,State,9/1/2019,2019,September,0.1,0.1,0.0,0.0,0.0,0.0,0.0
124,California,State,1/1/2009,2009,January,0.3,0.1,0.1,0.1,0.1,0.0,0.1
112,California,State,1/1/2010,2010,January,0.3,0.2,0.1,0.1,0.1,0.1,0.1
57,California,State,8/1/2014,2014,August,0.3,0.1,0.1,0.1,0.1,0.1,0.1
91,California,State,10/1/2011,2011,October,0.3,0.2,0.1,0.1,0.1,0.1,0.1
145,California,State,3/1/2020,2020,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
97,California,State,4/1/2011,2011,April,0.3,0.2,0.1,0.1,0.1,0.1,0.1
74,California,State,3/1/2013,2013,March,0.3,0.2,0.1,0.1,0.1,0.1,0.1
134,California,State,3/1/2008,2008,March,0.2,0.1,0.1,0.0,0.0,0.0,0.0
14,California,State,3/1/2018,2018,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
88,California,State,1/1/2012,2012,January,0.4,0.2,0.1,0.1,0.1,0.1,0.1
7,California,State,10/1/2018,2018,October,0.2,0.1,0.0,0.0,0.0,0.0,0.0
140,California,State,10/1/2019,2019,October,0.1,0.1,0.0,0.0,0.0,0.0,0.0
89,California,State,12/1/2011,2011,December,0.4,0.2,0.1,0.1,0.1,0.1,0.1
144,California,State,2/1/2020,2020,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
3,California,State,2/1/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
41,California,State,12/1/2015,2015,December,0.2,0.1,0.1,0.0,0.0,0.0,0.0
9,California,State,8/1/2018,2018,August,0.2,0.1,0.0,0.0,0.0,0.0,0.0
20,California,State,9/1/2017,2017,September,0.2,0.1,0.0,0.0,0.0,0.0,0.0
22,California,State,7/1/2017,2017,July,0.2,0.1,0.1,0.0,0.0,0.0,0.0
117,California,State,8/1/2009,2009,August,0.3,0.2,0.1,0.1,0.1,0.1,0.1
132,California,State,5/1/2008,2008,May,0.2,0.1,0.1,0.0,0.0,0.0,0.0
129,California,State,8/1/2008,2008,August,0.2,0.1,0.1,0.0,0.0,0.0,0.0
23,California,State,6/1/2017,2017,June,0.2,0.1,0.1,0.0,0.0,0.0,0.0
38,California,State,3/1/2016,2016,March,0.2,0.1,0.1,0.0,0.0,0.0,0.0
102,California,State,11/1/2010,2010,November,0.3,0.2,0.1,0.1,0.1,0.1,0.1

In [27]:
df_unemployment.dropna()

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
0,California,State,5/1/2019,2019,May,0.2,0.1,0.0,0.0,0.0,0.0,0.0
1,California,State,4/1/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
2,California,State,3/1/2019,2019,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
3,California,State,2/1/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
4,California,State,1/1/2019,2019,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
147,California,State,5/1/2020,2020,May,0.2,0.1,0.1,0.0,0.0,0.0,0.1
148,California,State,6/1/2020,2020,June,0.2,0.1,0.1,0.1,0.1,0.1,0.1
149,California,State,7/1/2020,2020,July,0.2,0.1,0.1,0.1,0.1,0.1,0.1
150,California,State,8/1/2020,2020,August,0.2,0.1,0.1,0.1,0.1,0.1,0.1
151,California,State,9/1/2020,2020,September,0.2,0.1,0.1,0.1,0.1,0.1,0.1

In [9]:
df_homeless = pd.read_csv("homeless_impact.csv")
df_homeless

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Alameda,4/14/2020,403.0,115.0,91.0,85.0,NaN
1,Alpine,4/14/2020,NaN,NaN,NaN,NaN,NaN
2,Amador,4/14/2020,NaN,NaN,NaN,NaN,NaN
3,Butte,4/14/2020,65.0,65.0,NaN,NaN,NaN
4,Calaveras,4/14/2020,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9748,Ventura County,11/13/2020,362.0,183.0,NaN,NaN,NaN
9749,Yolo County,11/13/2020,157.0,149.0,NaN,NaN,NaN
9750,Yuba County,11/13/2020,NaN,NaN,NaN,NaN,NaN
9751,Wilton Rancheria Tribe,11/13/2020,NaN,NaN,NaN,NaN,NaN
9752,Bishop Paiute Tribal Council,11/13/2020,NaN,NaN,NaN,NaN,NaN

In [28]:
df_juvenile_facilities = pd.read_csv('juvenile_facilities_covid19.csv')
df_juvenile_facilities

,Reporting_Period,County,Facility_Name,Youth_in_Facility,Youth_Tested,Youth_Confirmed_Positive,Youth_Confirmed_at_Intake_(Optional),Youth_Confirmed_in_First_14_Days_(Optional),Youth_Confirmed_In_Custody_(Optional),Youth_Hospitalized,Estimated_Youth_Resolved,Youth_Deaths,Additional_Information_(Optional),Staff_Tested,Staff_Confirmed_Positive,Staff_Resolved,Additional_County_Information
0,10/04/20 - 10/10/20,Alameda,Alameda Camp Sweeney,12,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,10/11/20 - 10/17/20,Alameda,Alameda Camp Sweeney,14,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,10/18/20 - 10/24/20,Alameda,Alameda Camp Sweeney,16,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,10/25/20 - 10/31/20,Alameda,Alameda Camp Sweeney,10,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,11/01/20 - 11/07/20,Alameda,Alameda Camp Sweeney,13,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,8/30/20 - 9/05/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1825,9/06/20 - 9/12/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1826,9/13/20 - 9/19/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1827,9/20/20 - 9/26/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1828,9/27/20 - 10/03/20,Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN

In [29]:
df_juvenile_facilities.sample(50)
#elimanate optional column

,Reporting_Period,County,Facility_Name,Youth_in_Facility,Youth_Tested,Youth_Confirmed_Positive,Youth_Confirmed_at_Intake_(Optional),Youth_Confirmed_in_First_14_Days_(Optional),Youth_Confirmed_In_Custody_(Optional),Youth_Hospitalized,Estimated_Youth_Resolved,Youth_Deaths,Additional_Information_(Optional),Staff_Tested,Staff_Confirmed_Positive,Staff_Resolved,Additional_County_Information
14,9/20/20 - 9/26/20,Alameda,Alameda Camp Sweeney,13,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1786,7/19/20 - 7/25/20,Yuba,Maxine Singer Center Camp,13,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
355,10/25/20 - 10/31/20,Kern,Larry J. Rhoades Crossroads Facility,40,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1119,8/23/20 - 8/29/20,San Diego,Kearny Mesa Juvenile Hall,79,18,0,0,0,0,0,0,0,https://www.sandiegocounty.gov/content/sdc/pro...,NaN,NaN,NaN,NaN
332,9/13/20 - 9/19/20,Kern,Camp Erwin Owen,31,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
761,11/01/20 - 11/07/20,Napa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Data Reported,NaN,NaN,NaN
392,7/19/20 - 7/25/20,Kings,Kings County Juvenile Center,22,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1162,9/06/20 - 9/12/20,San Francisco,No Data Reported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1766,8/16/20 - 8/22/20,Yolo,Yolo County Juvenile Hall,6,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
750,8/23/20 - 8/29/20,Napa,Napa County Juvenile Hall,9,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1222,10/18/20 - 10/24/20,San Joaquin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
917,10/04/20 - 10/10/20,Riverside,Indio Juvenile Hall,32,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
370,10/11/20 - 10/17/20,Kern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,<11,0,NaN
18,10/25/20 - 10/31/20,Alameda,Alameda County Juvenile Justice Facility,44,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1316,7/26/20 - 8/01/20,San Mateo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,U,U,NaN
635,7/26/20 - 8/01/20,Mendocino,Mendocino County Juvenile Hall,9,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
21,7/26/20 - 8/01/20,Alameda,Alameda County Juvenile Justice Facility,33,13,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
400,9/27/20 - 10/03/20,Kings,Kings County Juvenile Center,22,0,0,0,0,0,0,0,0,Includes Camp beds,NaN,NaN,NaN,NaN
1752,9/06/20 - 9/12/20,Ventura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1688,8/30/20 - 9/05/20,Tuolumne,Tuolumne County MLRJDF,11,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1328,10/18/20 - 10/24/20,Santa Barbara,Los Prietos Boys Camp,6,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
746,8/02/20 - 8/08/20,Napa,Napa County Juvenile Hall,7,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1007,8/23/20 - 8/29/20,San Benito,San Benito County Juv. Hall,3,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1154,9/13/20 - 9/19/20,San Diego,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,https://www.sandiegocounty.gov/content/sdc/pro...
1759,10/18/20 - 10/24/20,Yolo,Yolo County Juvenile Hall,6,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
719,8/30/20 - 9/05/20,Monterey,Wellington M Smith Jr. J.H.,35,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
923,7/26/20 - 8/01/20,Riverside,Indio Juvenile Hall,31,<11,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
675,9/20/20 - 9/26/20,Merced,Juv. Justice Corr. Complex/Bear Creek Academy ...,21,<11,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1369,8/23/20 - 8/29/20,Santa Barbara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1118,8/16/20 - 8/22/20,San Diego,Kearny Mesa Juvenile Hall,74,12,0,0,0,0,0,0,0,https://www.sandiegocounty.gov/content/sdc/pro...,NaN,NaN,NaN,NaN
1632,10/25/20 - 10/31/20,Tehama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1348,7/19/20 - 7/25/20,Santa Barbara,Susan J. Gionfriddo Juvenile Justice Center,16,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1740,10/04/20 - 10/10/20,Ventura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,0,0,NaN
1443,11/01/20 - 11/07/20,Santa Cruz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
151,8/09/20 - 8/15/20,Del Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
659,9/20/20 - 9/26/20,Mendocino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
1065,11/01/20 - 11/07/20,San Bernardino,High Desert JDAC,0,U,U,U,U,U,U,U,U,NaN,NaN,NaN,NaN,NaN
1056,8/30/20 - 9/05/20,San Bernardino,Gateway @ RYEF,15,0,0,U,U,0,0,U,0,NaN,NaN,NaN,NaN,NaN
1607,8/23/20 - 8/29/20,Stanislaus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
789,10/04/20 - 10/10/20,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
517,10/04/20 - 10/10/20,Los Angeles,L. A. Camp Rockey,34,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
270,9/27/20 - 10/03/20,Humboldt,Humboldt Regional Center,5,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1115,7/26/20 - 8/01/20,San Diego,Kearny Mesa Juvenile Hall,64,<11,0,0,0,0,0,<11,0,https://www.sandiegocounty.gov/content/sdc/pro...,NaN,NaN,NaN,NaN
1656,8/30/20 - 9/05/20,Tulare,Tulare Co. Juv. Det. Facility,38,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
205,9/20/20 - 9/26/20,El Dorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
550,10/11/20 - 10/17/20,Los Angeles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,<11,NaN
75,9/06/20 - 9/12/20,Butte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,0,NaN
1608,8/30/20 - 9/05/20,Stanislaus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<11,0,<11,NaN
755,9/27/20 - 10/03/20,Napa,Napa County Juvenile Hall,13,<11,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
72,8/16/20 - 8/22/20,Butte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,0,<11,NaN

In [ ]:
df.drop(['B', 'C'], axis=1)