In [2]:
# Import all the packages
import pandas as pd
import matplotlib as plt
import scipy as sts
import numpy as np
import requests
import json

In [3]:
df = pd.read_csv("owid-covid-data.csv")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56747,NaN,NaN,International,2020-11-10,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56748,NaN,NaN,International,2020-11-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56749,NaN,NaN,International,2020-11-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56750,NaN,NaN,International,2020-11-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56751,NaN,NaN,International,2020-11-14,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_north_america = df.loc[df["continent"] == "North America"]
df_north_america

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
1381,AIA,North America,Anguilla,2020-03-27,2.0,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
1382,AIA,North America,Anguilla,2020-03-28,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
1383,AIA,North America,Anguilla,2020-03-29,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
1384,AIA,North America,Anguilla,2020-03-30,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
1385,AIA,North America,Anguilla,2020-03-31,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53870,VIR,North America,United States Virgin Islands,2020-11-10,1405.0,0.0,3.857,23.0,0.0,0.286,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53871,VIR,North America,United States Virgin Islands,2020-11-11,1410.0,5.0,3.571,23.0,0.0,0.143,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53872,VIR,North America,United States Virgin Islands,2020-11-12,1410.0,0.0,3.143,23.0,0.0,0.000,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53873,VIR,North America,United States Virgin Islands,2020-11-13,1410.0,0.0,2.857,23.0,0.0,0.000,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53874,VIR,North America,United States Virgin Islands,2020-11-14,1410.0,0.0,2.857,23.0,0.0,0.000,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN

In [6]:
df_relevant = df_north_america.loc[df_north_america["total_cases"] > 1000]
df_relevant

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
2580,ABW,North America,Aruba,2020-08-16,1048.0,75.0,77.000,4.0,0.0,0.143,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2581,ABW,North America,Aruba,2020-08-17,1102.0,54.0,77.000,4.0,0.0,0.143,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2582,ABW,North America,Aruba,2020-08-18,1121.0,19.0,70.143,4.0,0.0,0.143,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2583,ABW,North America,Aruba,2020-08-19,1121.0,0.0,57.714,4.0,0.0,0.143,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2584,ABW,North America,Aruba,2020-08-20,1296.0,175.0,71.143,5.0,1.0,0.286,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53870,VIR,North America,United States Virgin Islands,2020-11-10,1405.0,0.0,3.857,23.0,0.0,0.286,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53871,VIR,North America,United States Virgin Islands,2020-11-11,1410.0,5.0,3.571,23.0,0.0,0.143,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53872,VIR,North America,United States Virgin Islands,2020-11-12,1410.0,0.0,3.143,23.0,0.0,0.000,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53873,VIR,North America,United States Virgin Islands,2020-11-13,1410.0,0.0,2.857,23.0,0.0,0.000,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN
53874,VIR,North America,United States Virgin Islands,2020-11-14,1410.0,0.0,2.857,23.0,0.0,0.000,...,NaN,NaN,273.67,12.26,NaN,NaN,NaN,NaN,80.58,NaN

In [8]:
df_relevant_US = df_relevant.loc[df_relevant["iso_code"] == "USA"]
df_relevant_US

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
53390,USA,North America,United States,2020-03-11,1025.0,271.0,128.571,28.0,2.0,2.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53391,USA,North America,United States,2020-03-12,1312.0,287.0,164.714,30.0,2.0,2.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53392,USA,North America,United States,2020-03-13,1663.0,351.0,204.286,40.0,10.0,4.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53393,USA,North America,United States,2020-03-14,2174.0,511.0,262.286,47.0,7.0,4.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53394,USA,North America,United States,2020-03-15,2951.0,777.0,359.714,57.0,10.0,5.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53634,USA,North America,United States,2020-11-10,10110552.0,138901.0,117043.857,238251.0,679.0,957.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53635,USA,North America,United States,2020-11-11,10257826.0,147274.0,124835.286,239683.0,1432.0,1008.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53636,USA,North America,United States,2020-11-12,10401132.0,143306.0,130663.714,241800.0,2117.0,1153.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53637,USA,North America,United States,2020-11-13,10554801.0,153669.0,135125.571,242430.0,630.0,1070.429,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
53638,USA,North America,United States,2020-11-14,10739614.0,184813.0,142867.000,244345.0,1915.0,1178.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924