In [2]:
# Import all the packages
import pandas as pd
import matplotlib as plt
import scipy as sts
import numpy as np
import requests
import json

In [7]:
df_by_county = pd.read_csv("statewide_cases.csv")
df_by_county
#df_by_county["date"].value_counts()

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,2020-03-18
1,Santa Clara,183.0,8.0,32,2,2020-03-19
2,Santa Clara,246.0,8.0,63,0,2020-03-20
3,Santa Clara,269.0,10.0,23,2,2020-03-21
4,Santa Clara,284.0,13.0,15,3,2020-03-22
...,...,...,...,...,...,...
14400,Yolo,3522.0,63.0,30,0,2020-11-09
14401,Yolo,3573.0,64.0,51,1,2020-11-10
14402,Yolo,3606.0,64.0,33,0,2020-11-11
14403,Yolo,3646.0,64.0,40,0,2020-11-12
14404,Yolo,3716.0,66.0,70,2,2020-11-13

In [41]:
df_county = df_by_county.groupby(["county", "date"]).sum()
df_county

                    totalcountconfirmed  totalcountdeaths  newcountconfirmed  \
county  date
Alameda 2020-03-18                    1                 1                  1
        2020-03-19                    1                 1                  1
        2020-03-20                    1                 1                  1
        2020-03-21                    1                 1                  1
        2020-03-22                    1                 1                  1
...                                 ...               ...                ...
Yuba    2020-11-09                    1                 1                  1
        2020-11-10                    1                 1                  1
        2020-11-11                    1                 1                  1
        2020-11-12                    1                 1                  1
        2020-11-13                    1                 1                  1

                    newcountdeaths
county  date
Alameda 2020-03-18               1
        2020-03-19               1
        2020-03-20               1
        2020-03-21               1
        2020-03-22               1
...                            ...
Yuba    2020-11-09               1
        2020-11-10               1
        2020-11-11               1
        2020-11-12               1
        2020-11-13               1

[14405 rows x 4 columns]

In [9]:
df_by_age = pd.read_csv("case_demographics_age.csv")
df_by_age

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
0,0-17,120,2020-04-02,NaN,NaN,NaN,NaN
1,18-49,5302,2020-04-02,NaN,NaN,NaN,NaN
2,50-64,2879,2020-04-02,NaN,NaN,NaN,NaN
3,65 and Older,2342,2020-04-02,NaN,NaN,NaN,NaN
4,Unknown,58,2020-04-02,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1125,0-17,109636,2020-11-13,10.9,2.0,0.0,22.5
1126,18-49,602180,2020-11-13,59.7,1321.0,7.2,43.5
1127,50-64,189615,2020-11-13,18.8,3487.0,19.1,18.4
1128,65+,106013,2020-11-13,10.5,13426.0,73.6,15.6
1129,Missing,933,2020-11-13,0.1,1.0,0.0,0.0

In [11]:
df_by_age = df_by_age[(df_by_age["age_group"] != "Missing")]
df_age = df_by_age[(df_by_age["age_group"] != "Unknown")]
df_age["age_group"].value_counts()
df_age.set_index(["age_group"])
df_age

18-49           226
50-64           226
0-17            226
65+             200
65 and Older     26
Name: age_group, dtype: int64

In [34]:
df_age.groupby("age_group").sum()

,totalpositive,case_percent,deaths,deaths_percent,ca_percent
age_group,,,,,
0-17,9866626,1704.33,216.0,0.00,4634.90
18-49,60032517,11781.20,141662.0,1389.82,8961.20
50-64,19555308,4263.54,369950.0,3598.32,3790.60
65 and Older,157221,135.04,7348.0,463.88,93.42
65+,11392609,2691.62,1505447.0,15144.07,3119.48

In [25]:
df_by_sex = pd.read_csv("case_demographics_sex.csv")
df_by_sex

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,2020-04-02,NaN,NaN,NaN,NaN
1,Male,5547,2020-04-02,NaN,NaN,NaN,NaN
2,Unknown,139,2020-04-02,NaN,NaN,NaN,NaN
3,Female,5674,2020-04-03,NaN,NaN,NaN,NaN
4,Male,6202,2020-04-03,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
677,Male,485678,2020-11-12,48.6,10379.0,57.1,49.7
678,Unknown,7773,2020-11-12,0.8,31.0,0.2,0.0
679,Female,510169,2020-11-13,50.6,7780.0,42.7,50.3
680,Male,490387,2020-11-13,48.6,10426.0,57.2,49.7
681,Unknown,7821,2020-11-13,0.8,31.0,0.2,0.0

In [26]:
df_by_ethnic = pd.read_csv("case_demographics_ethnicity.csv")
df_by_ethnic

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
0,Latino,5276,35.99,170,28.38,38.9,2020-04-13
1,Latino,5910,37.18,203,29.72,38.9,2020-04-14
2,Latino,6433,37.80,226,29.70,38.9,2020-04-15
3,Latino,7013,38.51,254,29.85,38.9,2020-04-16
4,Latino,7627,39.41,281,30.58,38.9,2020-04-17
...,...,...,...,...,...,...,...
1715,Black,30234,4.20,1336,7.40,6.0,2020-11-13
1716,Multi-Race,8665,1.20,153,0.80,2.2,2020-11-13
1717,American Indian or Alaska Native,2095,0.30,59,0.30,0.5,2020-11-13
1718,Native Hawaiian and other Pacific Islander,3878,0.50,87,0.50,0.3,2020-11-13
1719,Other,70166,9.70,82,0.50,0.0,2020-11-13

In [28]:
df_unemployment = pd.read_csv("Unemployment_Rate_by_Age_Groups.csv")
df_unemployment

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
0,California,State,05/01/2019,2019,May,0.2,0.1,0.0,0.0,0.0,0.0,0.0
1,California,State,04/01/2019,2019,April,0.2,0.1,0.0,0.0,0.0,0.0,0.0
2,California,State,03/01/2019,2019,March,0.2,0.1,0.0,0.0,0.0,0.0,0.0
3,California,State,02/01/2019,2019,February,0.1,0.1,0.0,0.0,0.0,0.0,0.0
4,California,State,01/01/2019,2019,January,0.2,0.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
147,California,State,05/01/2020,2020,May,0.2,0.1,0.1,0.0,0.0,0.0,0.1
148,California,State,06/01/2020,2020,June,0.2,0.1,0.1,0.1,0.1,0.1,0.1
149,California,State,07/01/2020,2020,July,0.2,0.1,0.1,0.1,0.1,0.1,0.1
150,California,State,08/01/2020,2020,August,0.2,0.1,0.1,0.1,0.1,0.1,0.1
151,California,State,09/01/2020,2020,September,0.2,0.1,0.1,0.1,0.1,0.1,0.1

In [30]:
df_homeless = pd.read_csv("homeless_impact.csv")
df_homeless

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Alameda,2020-04-14,403.0,115.0,91.0,85.0,NaN
1,Alpine,2020-04-14,NaN,NaN,NaN,NaN,NaN
2,Amador,2020-04-14,NaN,NaN,NaN,NaN,NaN
3,Butte,2020-04-14,65.0,65.0,NaN,NaN,NaN
4,Calaveras,2020-04-14,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9748,Ventura County,2020-11-13,362.0,183.0,NaN,NaN,NaN
9749,Yolo County,2020-11-13,157.0,149.0,NaN,NaN,NaN
9750,Yuba County,2020-11-13,NaN,NaN,NaN,NaN,NaN
9751,Wilton Rancheria Tribe,2020-11-13,NaN,NaN,NaN,NaN,NaN
9752,Bishop Paiute Tribal Council,2020-11-13,NaN,NaN,NaN,NaN,NaN