In [28]:
# Import all dependencies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import calendar

In [29]:
# Create Data Frame

df_ethnicity = pd.read_csv("case_demographics_ethnicity_updated.csv")
df_ethnicity

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date,month
0,Latino,5276,35.99,170,28.38,38.9,4/13/20,Apr
1,White,4639,31.64,246,41.07,36.6,4/13/20,Apr
2,Asian,1902,12.97,98,16.36,15.4,4/13/20,Apr
3,Black,1030,7.03,61,10.18,6.0,4/13/20,Apr
4,Multiracial,268,1.83,8,1.34,2.2,4/13/20,Apr
...,...,...,...,...,...,...,...,...
1755,Black,31789,4.20,1352,7.40,6.0,11/18/20,Nov
1756,Multi-Race,9290,1.20,156,0.90,2.2,11/18/20,Nov
1757,American Indian or Alaska Native,2227,0.30,63,0.30,0.5,11/18/20,Nov
1758,Native Hawaiian and other Pacific Islander,4069,0.50,88,0.50,0.3,11/18/20,Nov
1759,Other,74457,9.80,88,0.50,0.0,11/18/20,Nov

In [30]:
# Group by based on ethnicity in order to aggregate data from csv file by ethnicity

df_eth_aggregated = df_ethnicity.groupby(["race_ethnicity"])
df_eth_aggregated.head()

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date,month
0,Latino,5276,35.99,170,28.38,38.9,4/13/20,Apr
1,White,4639,31.64,246,41.07,36.6,4/13/20,Apr
2,Asian,1902,12.97,98,16.36,15.4,4/13/20,Apr
3,Black,1030,7.03,61,10.18,6.0,4/13/20,Apr
4,Multiracial,268,1.83,8,1.34,2.2,4/13/20,Apr
5,American Indian or Alaska Native,33,0.23,3,0.50,0.5,4/13/20,Apr
6,Native Hawaiian or Pacific Islander,243,1.66,4,0.67,0.3,4/13/20,Apr
7,Other,1269,8.66,9,1.50,0.0,4/13/20,Apr
8,Latino,5910,37.18,203,29.72,38.9,4/14/20,Apr
9,White,4939,31.07,264,38.65,36.6,4/14/20,Apr
10,Asian,2045,12.87,103,15.08,15.4,4/14/20,Apr
11,Black,1107,6.96,79,11.57,6.0,4/14/20,Apr
12,Multiracial,303,1.91,9,1.32,2.2,4/14/20,Apr
13,American Indian or Alaska Native,33,0.21,3,0.44,0.5,4/14/20,Apr
14,Native Hawaiian or Pacific Islander,252,1.59,6,0.88,0.3,4/14/20,Apr
15,Other,1306,8.22,16,2.34,0.0,4/14/20,Apr
16,Latino,6433,37.80,226,29.70,38.9,4/15/20,Apr
17,White,5239,30.79,286,37.58,36.6,4/15/20,Apr
18,Asian,2161,12.70,122,16.03,15.4,4/15/20,Apr
19,Black,1176,6.91,87,11.43,6.0,4/15/20,Apr
20,Multiracial,329,1.93,10,1.31,2.2,4/15/20,Apr
21,American Indian or Alaska Native,32,0.19,3,0.39,0.5,4/15/20,Apr
22,Native Hawaiian or Pacific Islander,262,1.54,9,1.18,0.3,4/15/20,Apr
23,Other,1385,8.14,18,2.37,0.0,4/15/20,Apr
24,Latino,7013,38.51,254,29.85,38.9,4/16/20,Apr
25,White,5504,30.22,314,36.90,36.6,4/16/20,Apr
26,Asian,2361,12.96,135,15.86,15.4,4/16/20,Apr
27,Black,1244,6.83,103,12.10,6.0,4/16/20,Apr
28,Multiracial,362,1.99,11,1.29,2.2,4/16/20,Apr
29,American Indian or Alaska Native,34,0.19,4,0.47,0.5,4/16/20,Apr
30,Native Hawaiian or Pacific Islander,279,1.53,12,1.41,0.3,4/16/20,Apr
31,Other,1414,7.76,18,2.12,0.0,4/16/20,Apr
32,Latino,7627,39.41,281,30.58,38.9,4/17/20,Apr
33,White,5757,29.75,333,36.24,36.6,4/17/20,Apr
34,Asian,2489,12.86,147,16.00,15.4,4/17/20,Apr
35,Black,1312,6.78,110,11.97,6.0,4/17/20,Apr
36,Multiracial,376,1.94,11,1.20,2.2,4/17/20,Apr
37,American Indian or Alaska Native,38,0.20,4,0.44,0.5,4/17/20,Apr
38,Native Hawaiian or Pacific Islander,290,1.50,13,1.41,0.3,4/17/20,Apr
39,Other,1463,7.56,20,2.18,0.0,4/17/20,Apr
396,Multi-Race,625,0.80,26,0.60,2.2,6/1/20,Jun
398,Native Hawaiian and other Pacific Islander,631,0.80,30,0.70,0.3,6/1/20,Jun
404,Multi-Race,638,0.80,26,0.60,2.2,6/2/20,Jun
406,Native Hawaiian and other Pacific Islander,652,0.80,31,0.70,0.3,6/2/20,Jun
412,Multi-Race,645,0.80,27,0.60,2.2,6/3/20,Jun
414,Native Hawaiian and other Pacific Islander,666,0.80,33,0.80,0.3,6/3/20,Jun
420,Multi-Race,654,0.70,28,0.70,2.2,6/4/20,Jun
422,Native Hawaiian and other Pacific Islander,669,0.80,19,0.40,0.3,6/4/20,Jun
428,Multi-Race,665,0.70,29,0.70,2.2,6/5/20,Jun
430,Native Hawaiian and other Pacific Islander,683,0.80,20,0.50,0.3,6/5/20,Jun

In [31]:
# Use value_counts function to help determine whether there are any months in the data that have incomplete data. The slight discrepancy between the months that ARE NOT April or November is because some months have 30 days vs. 31 days.

df_ethnicity["month"].value_counts()

May     248
Oct     248
Aug     248
Jul     248
Jun     240
Sept    240
Apr     144
Nov     144
Name: month, dtype: int64

In [32]:
# Query column structure of dataset

df_ethnicity.columns

Index(['race_ethnicity', 'cases', 'case_percentage', 'deaths',
       'death_percentage', 'percent_ca_population', 'date', 'month'],
      dtype='object')

In [33]:
df_month = df_ethnicity.groupby(["month"])

print(df_month)

df_month.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe6dc73c730>

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date
month,,,,,,,
Apr,144,144,144,144,144,144,144
Aug,248,248,248,248,248,248,248
Jul,248,248,248,248,248,248,248
Jun,240,240,240,240,240,240,240
May,248,248,248,248,248,248,248
Nov,144,144,144,144,144,144,144
Oct,248,248,248,248,248,248,248
Sept,240,240,240,240,240,240,240

In [34]:
df_ethnicity.describe()

,cases,case_percentage,deaths,death_percentage,percent_ca_population
count,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000
mean,41335.618182,12.500596,1191.210795,12.500682,12.487500
std,82106.068516,17.832622,1949.518872,15.617099,15.348777
min,32.000000,0.185972,3.000000,0.220000,0.000000
25%,1898.000000,0.800000,45.750000,0.500000,0.450000
50%,8607.500000,5.450000,152.000000,4.995000,4.100000
75%,38014.750000,16.125000,1361.750000,20.355000,20.700000
max,455005.000000,61.200000,8900.000000,48.700000,38.900000

In [35]:
# Aggregate data by race and ethnicity DELETE LATER

ethnicity_group = df_ethnicity.groupby(["race_ethnicity"])

df_race_aggregated = ethnicity_group.mean()
df_race_aggregated

,cases,case_percentage,deaths,death_percentage,percent_ca_population
race_ethnicity,,,,,
American Indian or Alaska Native,848.636364,0.230953,31.590909,0.341791,0.5
Asian,19173.040909,7.156979,1180.881818,13.367394,15.4
Black,14293.013636,4.762079,770.127273,8.782002,6.0
Latino,196653.936364,56.365234,4446.909091,43.629602,38.9
Multi-Race,4135.859649,0.912865,79.842105,0.660819,2.2
Multiracial,412.285714,1.074945,13.897959,0.632193,2.2
Native Hawaiian and other Pacific Islander,2310.748538,0.576608,54.122807,0.472515,0.3
Native Hawaiian or Pacific Islander,445.918367,1.126054,21.428571,0.962923,0.3
Other,36417.804545,10.667271,82.145455,1.061380,0.0
White,58096.595455,19.174306,2906.036364,31.587101,36.6

In [36]:
# Identify irregularities in the dataset as it pertains to race and ethnicity. There appear to be two "race_ethnicity" groups that require cleaning.

df_ethnicity["race_ethnicity"].value_counts()

Asian                                         220
Black                                         220
Other                                         220
White                                         220
American Indian or Alaska Native              220
Latino                                        220
Native Hawaiian and other Pacific Islander    171
Multi-Race                                    171
Native Hawaiian or Pacific Islander            49
Multiracial                                    49
Name: race_ethnicity, dtype: int64

In [38]:
# Clean up the data!

df_ethnicity["race_ethnicity"] = df_ethnicity["race_ethnicity"].replace({'Multiracial': 'Multi-Race', 'Native Hawaiian or Pacific Islander': 'Native Hawaiian and other Pacific Islander'})

# ... And verify the cleanup.
df_ethnicity["race_ethnicity"].value_counts()

Asian                                         220
Native Hawaiian and other Pacific Islander    220
Black                                         220
Other                                         220
White                                         220
American Indian or Alaska Native              220
Multi-Race                                    220
Latino                                        220
Name: race_ethnicity, dtype: int64

In [39]:
# TKTKTKTKTKTK

df_month_markers = df_ethnicity.loc[(df_ethnicity["date"] == "4/30/20") | (df_ethnicity["date"] == "5/31/20") | (df_ethnicity["date"] == "6/30/20") | (df_ethnicity["date"] == "7/31/20") | (df_ethnicity["date"] == "8/31/20") | (df_ethnicity["date"] == "9/30/20") | (df_ethnicity["date"] == "10/31/20") | (df_ethnicity["date"] == "11/18/20")]
df_month_markers

,race_ethnicity,cases,case_percentage,deaths,death_percentage,percent_ca_population,date,month
136,Latino,15233,46.0,657,34.6,38.9,4/30/20,Apr
137,White,8926,27.0,655,34.5,36.6,4/30/20,Apr
138,Asian,3988,12.0,324,17.0,15.4,4/30/20,Apr
139,Black,2131,6.4,201,10.6,6.0,4/30/20,Apr
140,Multi-Race,282,0.9,7,0.4,2.2,4/30/20,Apr
...,...,...,...,...,...,...,...,...
1755,Black,31789,4.2,1352,7.4,6.0,11/18/20,Nov
1756,Multi-Race,9290,1.2,156,0.9,2.2,11/18/20,Nov
1757,American Indian or Alaska Native,2227,0.3,63,0.3,0.5,11/18/20,Nov
1758,Native Hawaiian and other Pacific Islander,4069,0.5,88,0.5,0.3,11/18/20,Nov
1759,Other,74457,9.8,88,0.5,0.0,11/18/20,Nov

In [41]:
df_month_markers.pivot(index='race_ethnicity', columns='date', values='case_percentage')

date,10/31/20,11/18/20,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20
race_ethnicity,,,,,,,,
American Indian or Alaska Native,0.3,0.3,0.2,0.2,0.2,0.2,0.2,0.3
Asian,5.6,5.6,12.0,9.1,6.6,5.4,5.4,5.5
Black,4.2,4.2,6.4,5.2,4.4,4.3,4.3,4.3
Latino,61.0,59.9,46.0,54.3,55.5,57.4,60.0,61.1
Multi-Race,1.1,1.2,0.9,0.8,0.7,0.8,0.9,1.1
Native Hawaiian and other Pacific Islander,0.5,0.5,1.2,0.8,0.6,0.6,0.6,0.5
Other,9.6,9.8,6.3,9.6,15.2,14.0,11.7,10.1
White,17.7,18.5,27.0,20.0,16.9,17.3,16.9,17.2