In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import requests
import json

In [2]:
df_by_sex = pd.read_csv("case_demographics_sex.csv")
df_by_sex

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,2020-04-02,NaN,NaN,NaN,NaN
1,Male,5547,2020-04-02,NaN,NaN,NaN,NaN
2,Unknown,139,2020-04-02,NaN,NaN,NaN,NaN
3,Female,5674,2020-04-03,NaN,NaN,NaN,NaN
4,Male,6202,2020-04-03,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
677,Male,485678,2020-11-12,48.6,10379.0,57.1,49.7
678,Unknown,7773,2020-11-12,0.8,31.0,0.2,0.0
679,Female,510169,2020-11-13,50.6,7780.0,42.7,50.3
680,Male,490387,2020-11-13,48.6,10426.0,57.2,49.7
681,Unknown,7821,2020-11-13,0.8,31.0,0.2,0.0

In [3]:
Last_date_of_the_month=["2020-04-30", "2020-05-31", "2020-06-30", "2020-07-31", "2020-08-31", "2020-09-30", "2020-10-31"]
Gender_date_empty_df = pd.DataFrame(columns=['sex', 'totalpositive2', 'date', 'case_percent', 'deaths', 'deaths_percent', 'ca_percent'])
for x in Last_date_of_the_month:
    Date_gender_df=df_by_sex.loc[df_by_sex['date'] == x]
    Gender_date_empty_df = Gender_date_empty_df.append(Date_gender_df, ignore_index=True)
Gender_date_empty_df.fillna(value = 0, inplace=True)
Gender_date_empty_df

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,24973,2020-04-30,49.5,812.0,40.8,50.31
1,Male,25167,2020-04-30,49.9,1171.0,58.9,49.69
2,Unknown,302,2020-04-30,0.6,5.0,0.3,0.00
3,Female,55605,2020-05-31,49.2,1797.0,44.0,50.30
4,Male,56841,2020-05-31,50.3,2277.0,55.8,49.70
5,Unknown,560,2020-05-31,0.5,6.0,0.1,0.00
6,Female,114626,2020-06-30,49.3,2607.0,43.6,50.30
7,Male,116952,2020-06-30,50.3,3363.0,56.3,49.70
8,Unknown,1079,2020-06-30,0.5,8.0,0.1,0.00
9,Female,249479,2020-07-31,49.9,3904.0,42.9,50.30
10,Male,245247,2020-07-31,49.0,5178.0,56.9,49.70
11,Unknown,5404,2020-07-31,1.1,13.0,0.1,0.00
12,Female,357162,2020-08-31,50.5,5409.0,42.3,50.30
13,Male,344006,2020-08-31,48.6,7364.0,57.6,49.70
14,Unknown,6629,2020-08-31,0.9,22.0,0.2,0.00
15,Female,410433,2020-09-30,50.4,6729.0,42.7,50.30
16,Male,396552,2020-09-30,48.7,8997.0,57.1,49.70
17,Unknown,6702,2020-09-30,0.8,31.0,0.2,0.00
18,Female,468321,2020-10-31,50.5,7533.0,42.7,50.30
19,Male,450953,2020-10-31,48.7,10098.0,57.2,49.70
20,Unknown,7260,2020-10-31,0.8,31.0,0.2,0.00

In [19]:
Date_gender_april_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-04-30"]
April_gender_positive_count=Date_gender_april_df.groupby("sex")["totalpositive2"].sum()
#April_gender_positive_count

In [5]:
Date_gender_may_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-05-31"]
May_gender_positive_count=Date_gender_may_df.groupby("sex")["totalpositive2"].sum()
#May_gender_positive_count

In [6]:
Date_gender_june_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-06-30"]
June_gender_positive_count=Date_gender_june_df.groupby("sex")["totalpositive2"].sum()
#June_gender_positive_count

In [7]:
Date_gender_july_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-07-31"]
July_gender_positive_count=Date_gender_july_df.groupby("sex")["totalpositive2"].sum()
#July_gender_positive_count

In [8]:
Date_gender_august_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-08-31"]
August_gender_positive_count=Date_gender_august_df.groupby("sex")["totalpositive2"].sum()
#August_gender_positive_count

In [9]:
Date_gender_september_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-09-30"]
September_gender_positive_count=Date_gender_september_df.groupby("sex")["totalpositive2"].sum()
#September_gender_positive_count

In [10]:
Date_gender_october_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-10-31"]
October_gender_positive_count=Date_gender_october_df.groupby("sex")["totalpositive2"].sum()
#October_gender_positive_count

In [11]:
April_May_gender_positive_count = ((May_gender_positive_count - April_gender_positive_count) / April_gender_positive_count) *100 
#Percentage_increase_april_may = pd.DataFrame({ "Percentage Increase April/May": April_May_gender_positive_count})
#Percentage_increase_april_may["Percentage Increase April/May"] = ["Percentage Increase April/May"].map("{:.2f}%".format)
#Percentage_increase_april_may

In [12]:
May_June_gender_positive_count = ((June_gender_positive_count - May_gender_positive_count) / May_gender_positive_count) *100
#Percentage_increase_may_june = pd.DataFrame({ "Percentage Increase May/June": May_June_gender_positive_count})
#Percentage_increase_may_june["Percentage Increase May/June"] = ["Percentage Increase May/June"].map("{:.2f}%".format)
#Percentage_increase_may_june

In [13]:
June_July_gender_positive_count = ((July_gender_positive_count - June_gender_positive_count) / June_gender_positive_count) *100
#Percentage_increase_june_july = pd.DataFrame({ "Percentage Increase June/July": June_July_gender_positive_count})
#Percentage_increase_june_july["Percentage Increase June/July"] = ["Percentage Increase June/July"].map("{:.2f}%".format)
#Percentage_increase_june_july

In [14]:
July_August_gender_positive_count = ((August_gender_positive_count - July_gender_positive_count) / July_gender_positive_count) *100
#Percentage_increase_july_august = pd.DataFrame({ "Percentage Increase July/August": July_August_gender_positive_count})
#Percentage_increase_july_august["Percentage Increase July/August"] = ["Percentage Increase July/August"].map("{:.2f}%".format)
#Percentage_increase_july_august

In [15]:
August_September_gender_positive_count = ((September_gender_positive_count - August_gender_positive_count) / August_gender_positive_count) *100
#Percentage_increase_august_september = pd.DataFrame({ "Percentage Increase August/September": August_September_gender_positive_count})
#Percentage_increase_august_september["Percentage Increase August/September"] = ["Percentage Increase August/September"].map("{:.2f}%".format)
#Percentage_increase_august_september

In [16]:
September_October_gender_positive_count = ((October_gender_positive_count - September_gender_positive_count) / September_gender_positive_count) *100
#Percentage_increase_september_october = pd.DataFrame({ "Percentage Increase September/Ocotber": September_October_gender_positive_count})
#Percentage_increase_september_october["Percentage Increase September/October"] = ["Percentage Increase September/Ocotber"].map("{:.2f}%".format)
#Percentage_increase_september_october

In [20]:
Complete_percentages_df = pd.DataFrame({'Apr-May Positive % Increase': April_May_gender_positive_count, 'May-Jun Positive % Increase': May_June_gender_positive_count, 
                                        'Jun-Jul Positive % Increase': June_July_gender_positive_count,'Jul-Aug Positive % Increase': July_August_gender_positive_count, 
                                        'Aug-Sep Positive % Increase': August_September_gender_positive_count, 'Sep-Oct Positive % Increase': September_October_gender_positive_count})
Complete_percentages_df['Apr-May Positive % Increase'] = Complete_percentages_df['Apr-May Positive % Increase'].map("{:.2f}%".format)
Complete_percentages_df['May-Jun Positive % Increase'] = Complete_percentages_df['May-Jun Positive % Increase'].map("{:.2f}%".format)
Complete_percentages_df['Jun-Jul Positive % Increase'] = Complete_percentages_df['Jun-Jul Positive % Increase'].map("{:.2f}%".format)
Complete_percentages_df['Jul-Aug Positive % Increase'] = Complete_percentages_df['Jul-Aug Positive % Increase'].map("{:.2f}%".format)
Complete_percentages_df['Aug-Sep Positive % Increase'] = Complete_percentages_df['Aug-Sep Positive % Increase'].map("{:.2f}%".format)
Complete_percentages_df['Sep-Oct Positive % Increase'] = Complete_percentages_df['Sep-Oct Positive % Increase'].map("{:.2f}%".format)

Complete_percentages_df

,Apr-May Positive % Increase,May-Jun Positive % Increase,Jun-Jul Positive % Increase,Jul-Aug Positive % Increase,Aug-Sep Positive % Increase,Sep-Oct Positive % Increase
sex,,,,,,
Female,122.66%,106.14%,117.65%,43.16%,14.92%,14.10%
Male,125.86%,105.75%,109.70%,40.27%,15.27%,13.72%
Unknown,85.43%,92.68%,400.83%,22.67%,1.10%,8.33%

In [18]:
x1=['Female']
x2=['Male']
x3=['Unknown']
a=[122.66, 106.14]
b=[125.85,105.75]
c=[85.43, 92.68]
d=[Percentage_increase_july_august]
e=[Percentage_increase_august_september]
f=[Percentage_increase_september_october]

fig = plt.figure()
ax=fig.add.subplot(111)
ax.bar(x1, a, width=0.2, color='b', align='center')
ax.bar(x2, b, width=0.2, color='g', align='center')
ax.bar(x3, c, width=0.2, color='r', align='center')

plt.show()

NameError: name 'Percentage_increase_july_august' is not defined

In [42]:
Date_gender_april_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-04-30"]
April_gender_deaths_count=Date_gender_april_df.groupby("sex")["deaths"].sum()
April_gender_deaths_count

sex
Female      812.0
Male       1171.0
Unknown       5.0
Name: deaths, dtype: float64

In [43]:
Date_gender_may_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-05-31"]
May_gender_deaths_count=Date_gender_may_df.groupby("sex")["deaths"].sum()
May_gender_deaths_count

sex
Female     1797.0
Male       2277.0
Unknown       6.0
Name: deaths, dtype: float64

In [44]:
Date_gender_june_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-06-30"]
June_gender_deaths_count=Date_gender_june_df.groupby("sex")["deaths"].sum()
June_gender_deaths_count

sex
Female     2607.0
Male       3363.0
Unknown       8.0
Name: deaths, dtype: float64

In [45]:
Date_gender_july_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-07-31"]
July_gender_deaths_count=Date_gender_july_df.groupby("sex")["deaths"].sum()
July_gender_deaths_count

sex
Female     3904.0
Male       5178.0
Unknown      13.0
Name: deaths, dtype: float64

In [46]:
Date_gender_august_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-08-31"]
August_gender_deaths_count=Date_gender_august_df.groupby("sex")["deaths"].sum()
August_gender_deaths_count

sex
Female     5409.0
Male       7364.0
Unknown      22.0
Name: deaths, dtype: float64

In [53]:
Date_gender_september_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-09-30"]
September_gender_deaths_count=Date_gender_september_df.groupby("sex")["deaths"].sum()
September_gender_deaths_count

sex
Female     6729.0
Male       8997.0
Unknown      31.0
Name: deaths, dtype: float64

In [29]:
Date_gender_october_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-10-31"]
October_gender_deaths_count=Date_gender_october_df.groupby("sex")["deaths"].sum()
October_gender_deaths_count

In [48]:
April_May_gender_deaths_count = ((May_gender_deaths_count - April_gender_deaths_count) / April_gender_deaths_count) *100
April_May_gender_deaths_count

sex
Female     121.305419
Male        94.449189
Unknown     20.000000
Name: deaths, dtype: float64

In [49]:
May_June_gender_deaths_count = ((June_gender_deaths_count - May_gender_deaths_count) / May_gender_deaths_count) *100
May_June_gender_deaths_count

sex
Female     45.075125
Male       47.694335
Unknown    33.333333
Name: deaths, dtype: float64

In [50]:
June_July_gender_deaths_count = ((July_gender_deaths_count - June_gender_deaths_count) / June_gender_deaths_count) *100
June_July_gender_deaths_count

sex
Female     49.750671
Male       53.969670
Unknown    62.500000
Name: deaths, dtype: float64

In [51]:
July_August_gender_deaths_count = ((August_gender_deaths_count - July_gender_deaths_count) / July_gender_deaths_count) *100
July_August_gender_deaths_count

sex
Female     38.550205
Male       42.217072
Unknown    69.230769
Name: deaths, dtype: float64

In [54]:
August_September_gender_deaths_count = ((September_gender_deaths_count - August_gender_deaths_count) / August_gender_deaths_count) *100
August_September_gender_deaths_count

sex
Female     24.403771
Male       22.175448
Unknown    40.909091
Name: deaths, dtype: float64

In [55]:
September_October_gender_deaths_count = ((October_gender_deaths_count - September_gender_deaths_count) / September_gender_deaths_count) *100
September_October_gender_deaths_count

sex
Female     11.948284
Male       12.237412
Unknown     0.000000
Name: deaths, dtype: float64

In [56]:
Complete_deaths_df = pd.DataFrame({'Apr-May Death % Increase': April_May_gender_deaths_count, 'May-Jun Death % Increase': May_June_gender_deaths_count, 
                                        'Jun-Jul Death % Increase': June_July_gender_deaths_count,'Jul-Aug Death % Increase': July_August_gender_deaths_count, 
                                        'Aug-Sep Death % Increase': August_September_gender_deaths_count, 'Sep-Oct Death % Increase': September_October_gender_deaths_count})
Complete_deaths_df.fillna(value = 0, inplace=True)
Complete_deaths_df['Apr-May Death % Increase'] = Complete_deaths_df['Apr-May Death % Increase'].map("{:.2f}%".format)
Complete_deaths_df['May-Jun Death % Increase'] = Complete_deaths_df['May-Jun Death % Increase'].map("{:.2f}%".format)
Complete_deaths_df['Jun-Jul Death % Increase'] = Complete_deaths_df['Jun-Jul Death % Increase'].map("{:.2f}%".format)
Complete_deaths_df['Jul-Aug Death % Increase'] = Complete_deaths_df['Jul-Aug Death % Increase'].map("{:.2f}%".format)
Complete_deaths_df['Aug-Sep Death % Increase'] = Complete_deaths_df['Aug-Sep Death % Increase'].map("{:.2f}%".format)
Complete_deaths_df['Sep-Oct Death % Increase'] = Complete_deaths_df['Sep-Oct Death % Increase'].map("{:.2f}%".format)
#Complete_deaths_df.fillna(value = 0, inplace=True)
Complete_deaths_df

,Apr-May Death % Increase,May-Jun Death % Increase,Jun-Jul Death % Increase,Jul-Aug Death % Increase,Aug-Sep Death % Increase,Sep-Oct Death % Increase
sex,,,,,,
Female,121.31%,45.08%,49.75%,38.55%,24.40%,11.95%
Male,94.45%,47.69%,53.97%,42.22%,22.18%,12.24%
Unknown,20.00%,33.33%,62.50%,69.23%,40.91%,0.00%