In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import requests
import json

In [3]:
df_by_sex = pd.read_csv("case_demographics_sex.csv")
df_by_sex

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,2020-04-02,NaN,NaN,NaN,NaN
1,Male,5547,2020-04-02,NaN,NaN,NaN,NaN
2,Unknown,139,2020-04-02,NaN,NaN,NaN,NaN
3,Female,5674,2020-04-03,NaN,NaN,NaN,NaN
4,Male,6202,2020-04-03,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
677,Male,485678,2020-11-12,48.6,10379.0,57.1,49.7
678,Unknown,7773,2020-11-12,0.8,31.0,0.2,0.0
679,Female,510169,2020-11-13,50.6,7780.0,42.7,50.3
680,Male,490387,2020-11-13,48.6,10426.0,57.2,49.7
681,Unknown,7821,2020-11-13,0.8,31.0,0.2,0.0

In [10]:
Last_date_of_the_month=["2020-04-30", "2020-05-31", "2020-06-30", "2020-07-31", "2020-08-31", "2020-09-30", "2020-10-31"]
Gender_date_empty_df = pd.DataFrame(columns=['sex', 'totalpositive2', 'date', 'case_percent', 'deaths', 'deaths_percent', 'ca_percent'])
for x in Last_date_of_the_month:
    Date_gender_df=df_by_sex.loc[df_by_sex['date'] == x]
    Gender_date_empty_df = Gender_date_empty_df.append(Date_gender_df, ignore_index=True)
Gender_date_empty_df.fillna(value = 0, inplace=True)
Gender_date_empty_df

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,24973,2020-04-30,49.5,812.0,40.8,50.31
1,Male,25167,2020-04-30,49.9,1171.0,58.9,49.69
2,Unknown,302,2020-04-30,0.6,5.0,0.3,0.00
3,Female,55605,2020-05-31,49.2,1797.0,44.0,50.30
4,Male,56841,2020-05-31,50.3,2277.0,55.8,49.70
5,Unknown,560,2020-05-31,0.5,6.0,0.1,0.00
6,Female,114626,2020-06-30,49.3,2607.0,43.6,50.30
7,Male,116952,2020-06-30,50.3,3363.0,56.3,49.70
8,Unknown,1079,2020-06-30,0.5,8.0,0.1,0.00
9,Female,249479,2020-07-31,49.9,3904.0,42.9,50.30
10,Male,245247,2020-07-31,49.0,5178.0,56.9,49.70
11,Unknown,5404,2020-07-31,1.1,13.0,0.1,0.00
12,Female,357162,2020-08-31,50.5,5409.0,42.3,50.30
13,Male,344006,2020-08-31,48.6,7364.0,57.6,49.70
14,Unknown,6629,2020-08-31,0.9,22.0,0.2,0.00
15,Female,410433,2020-09-30,50.4,6729.0,42.7,50.30
16,Male,396552,2020-09-30,48.7,8997.0,57.1,49.70
17,Unknown,6702,2020-09-30,0.8,31.0,0.2,0.00
18,Female,468321,2020-10-31,50.5,7533.0,42.7,50.30
19,Male,450953,2020-10-31,48.7,10098.0,57.2,49.70
20,Unknown,7260,2020-10-31,0.8,31.0,0.2,0.00

In [8]:
Date_gender_april_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-04-30"]
April_gender_positive_count=Date_gender_april_df.groupby("sex")["totalpositive2"].sum()
April_gender_positive_count

sex
Female     24973
Male       25167
Unknown      302
Name: totalpositive2, dtype: int64

In [9]:
Date_gender_may_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-05-31"]
May_gender_positive_count=Date_gender_may_df.groupby("sex")["totalpositive2"].sum()
May_gender_positive_count

sex
Female     55605
Male       56841
Unknown      560
Name: totalpositive2, dtype: int64

In [11]:
Date_gender_june_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-06-30"]
June_gender_positive_count=Date_gender_june_df.groupby("sex")["totalpositive2"].sum()
June_gender_positive_count

sex
Female     114626
Male       116952
Unknown      1079
Name: totalpositive2, dtype: int64

In [12]:
Date_gender_july_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-07-31"]
July_gender_positive_count=Date_gender_july_df.groupby("sex")["totalpositive2"].sum()
July_gender_positive_count

sex
Female     249479
Male       245247
Unknown      5404
Name: totalpositive2, dtype: int64

In [13]:
Date_gender_august_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-08-31"]
August_gender_positive_count=Date_gender_august_df.groupby("sex")["totalpositive2"].sum()
August_gender_positive_count

sex
Female     357162
Male       344006
Unknown      6629
Name: totalpositive2, dtype: int64

In [14]:
Date_gender_september_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-09-30"]
September_gender_positive_count=Date_gender_september_df.groupby("sex")["totalpositive2"].sum()
September_gender_positive_count

sex
Female     410433
Male       396552
Unknown      6702
Name: totalpositive2, dtype: int64

In [15]:
Date_gender_october_df=Gender_date_empty_df.loc[Gender_date_empty_df["date"]=="2020-10-31"]
October_gender_positive_count=Date_gender_october_df.groupby("sex")["totalpositive2"].sum()
October_gender_positive_count

sex
Female     468321
Male       450953
Unknown      7260
Name: totalpositive2, dtype: int64

In [35]:
April_May_gender_positive_count = ((May_gender_positive_count - April_gender_positive_count) / April_gender_positive_count) *100 
Percentage_increase_april_may = pd.DataFrame({ "Percentage Increase April/May": April_May_gender_positive_count})
#Percentage_increase_april_may["Percentage Increase April/May"] = ["Percentage Increase April/May"].map("{:.2f}%".format)
Percentage_increase_april_may

         Percentage Increase April/May
sex
Female                      122.660473
Male                        125.855287
Unknown                      85.430464

In [25]:
May_June_gender_positive_count = ((June_gender_positive_count - May_gender_positive_count) / May_gender_positive_count) *100
Percentage_increase_may_june = pd.DataFrame({ "Percentage Increase May/June": May_June_gender_positive_count})
#Percentage_increase_may_june["Percentage Increase May/June"] = ["Percentage Increase May/June"].map("{:.2f}%".format)
Percentage_increase_may_june

         Percentage Increase May/June
sex
Female                     106.143332
Male                       105.752890
Unknown                     92.678571

In [26]:
June_July_gender_positive_count = ((July_gender_positive_count - June_gender_positive_count) / June_gender_positive_count) *100
Percentage_increase_june_july = pd.DataFrame({ "Percentage Increase June/July": June_July_gender_positive_count})
#Percentage_increase_june_july["Percentage Increase June/July"] = ["Percentage Increase June/July"].map("{:.2f}%".format)
Percentage_increase_june_july

         Percentage Increase June/July
sex
Female                      117.646084
Male                        109.698851
Unknown                     400.834106

In [29]:
July_August_gender_positive_count = ((August_gender_positive_count - July_gender_positive_count) / July_gender_positive_count) *100
Percentage_increase_july_august = pd.DataFrame({ "Percentage Increase July/August": July_August_gender_positive_count})
#Percentage_increase_july_august["Percentage Increase July/August"] = ["Percentage Increase July/August"].map("{:.2f}%".format)
Percentage_increase_july_august

         Percentage Increase July/August
sex
Female                         43.163152
Male                           40.269198
Unknown                        22.668394

In [36]:
August_September_gender_positive_count = ((September_gender_positive_count - August_gender_positive_count) / August_gender_positive_count) *100
Percentage_increase_august_september = pd.DataFrame({ "Percentage Increase August/September": August_September_gender_positive_count})
#Percentage_increase_august_september["Percentage Increase August/September"] = ["Percentage Increase August/September"].map("{:.2f}%".format)
Percentage_increase_august_september

         Percentage Increase August/September
sex
Female                              14.915081
Male                                15.274734
Unknown                              1.101222

In [38]:
September_October_gender_positive_count = ((October_gender_positive_count - September_gender_positive_count) / September_gender_positive_count) *100
Percentage_increase_september_october = pd.DataFrame({ "Percentage Increase September/Ocotber": September_October_gender_positive_count})
#Percentage_increase_september_october["Percentage Increase September/October"] = ["Percentage Increase September/Ocotber"].map("{:.2f}%".format)
Percentage_increase_september_october

         Percentage Increase September/Ocotber
sex
Female                               14.104129
Male                                 13.718504
Unknown                               8.325873

In [50]:
x1=['Female']
x2=['Male']
x3=['Unknown']
a=[122.66, 106.14]
b=[125.85,105.75]
c=[85.43, 92.68]
d=[Percentage_increase_july_august]
e=[Percentage_increase_august_september]
f=[Percentage_increase_september_october]

fig = plt.figure()
ax=fig.add.subplot(111)
ax.bar(x1, a, width=0.2, color='b', align='center')
ax.bar(x2, b, width=0.2, color='g', align='center')
ax.bar(x3, c, width=0.2, color='r', align='center')

plt.show()

AttributeError: 'Figure' object has no attribute 'add'